{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Attribuer une ambulance{% endtrans %}
        {% else %}
        {% trans %}Modification d'une attribution{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        {% trans %}Ajout d'une attribution ambulance{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification de l'attribution : {% endtrans %} {{ attributionAmbulance.user.nom }} - {{ attributionAmbulance.ambulance.ambulance }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('liste_attribution_ambulance', {'a': 1 }) }}" class="btn btn-primary">
                                    {% trans %}Afficher les attributions ambulances{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="card-body ">
                        {{ form_start(formAttributionAmbulance, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}

                            <div class="row" id="ambulanceForm" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Nom de l'ambulance{% endtrans %}</label>
                                    {{ form_widget(formAttributionAmbulance.ambulance, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner une ambulance !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Chauffeur{% endtrans %}</label>
                                    {{ form_widget(formAttributionAmbulance.user, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner un chaufffeur{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative text-center mt-4">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>

                            </div>

                        {{ form_end(formAttributionAmbulance)}}

                    </div>
                
            </div>
        </div>
    </div>
</div>

<script src="{{ asset ('js/selectionModeleMarque.js')}}"></script>
{% endblock %}