{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un bâtiment{% endtrans %}
        {% else %}
        {% trans %}Modification d'un bâtiment{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}

        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        <i class="fa fa-eercast me-2"></i>
                                        {% trans %}Ajout d'un bâtiment{% endtrans %}
                                        {% else %}
                                        <i class="fa fa-eercast  me-2"></i>
                                        {% trans %}Modification de : {% endtrans %} {{ batiment.batiment }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('liste_batiment', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                    {% trans %}Afficher les bâtiments{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(formBatiment, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}

                            <div class="row" id="batimentForm" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Nom du bâtiment{% endtrans %}</label>
                                    {{ form_widget(formBatiment.batiment, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le nom du bâtiment !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-4 position-relative text-center">
                                    <label for="validationCustom01" class="form-label">{% trans %}Photo du batiment{% endtrans %}</label>
                                    {{ form_widget(formBatiment.photoFile, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez choisir la photo du batiment !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative text-center mt-4">
                                   <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                
                            </div>

                            {# FIN PARTIE EXAMEN #}
                        {{ form_end(formBatiment)}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->
    </div>
</div>
    
{% endblock %}
