{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des bâtiments{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}

		<!-- Row starts -->
            <div class="row gx-3">
              
				<div class="col-sm-12  mb-5">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							
							<h5 class="card-title">
								<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
									<span class="badge bg-white text-dark">{{ batiments|length|number_format }}</span>
									<span> {% trans %}bâtiments(s) enregistré(s){% endtrans %}</span>
								</button>
							</h5>
						
							
							<a href="{{ path ('ajouter_batiment') }}" class="btn btn-primary ms-auto">
								{% trans %}Ajouter un batiment{% endtrans %}
							</a>
								
						</div>
						<div class="card-body">

							<!-- Table starts -->
							<div class="table-responsive">
								<table id="basicExample" class="table m-0 table-hover align-middle">
									<thead>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Photo{% endtrans %}</th>
											<th>{% trans %}Nom du bâtiment{% endtrans %}</th>
											{% if is_granted('ROLE_ADMINISTRATEUR') %}
												<th>{% trans %}Etat{% endtrans %}</th>
												<th>{% trans %}Etat service{% endtrans %}</th>
											{% endif %}
											<th>{% trans %}Chambres{% endtrans %}</th>
											<th>{% trans %}Opérations{% endtrans %}</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Photo{% endtrans %}</th>
											<th>{% trans %}Nom du bâtiment{% endtrans %}</th>
											{% if is_granted('ROLE_ADMINISTRATEUR') %}
												<th>{% trans %}Etat{% endtrans %}</th>
												<th>{% trans %}Etat service{% endtrans %}</th>
											{% endif %}
											<th>{% trans %}Chambres{% endtrans %}</th>
											<th>{% trans %}Opérations{% endtrans %}</th>
										</tr>
									</tfoot>
									<tbody>
										{% set i = 1 %}
										{% for batiment in batiments %}
											<tr>
												<td><span class="tag tag-primary">{{ i }}</span></td>
												<td style="vertical-align: middle; text-align:center;">
													<div class="box-widget widget-user text-center">
														<div class="widget-user-image mx-auto">
															<a href="javascript:void(0);">
																<img alt="{{ batiment.batiment }}" class="rounded-circle" 
																	src="{{ batiment.photo ? asset('images/photoBatiments/' ~ batiment.photo) : asset('images/photoBatiments/batiment.jpg')}}" 
																	width="50" height="50">
															</a>

														</div>
													</div>
												</td>
												<td>
													<span class="tag tag-dark">{{ batiment.batiment }}</span>
												</td>
												{% if is_granted('ROLE_ADMINISTRATEUR') %}
													<td>
														{% if batiment.enService == 0 %}
															<span class="tag tag-red">{% trans %}Pas en service{% endtrans %}</span>
															{% else %}
															<span class="tag tag-green">{% trans %}En service{% endtrans %}</span>
														{% endif %}
													</td>

													<td>
														{% if is_granted('ROLE_ADMINISTRATEUR') %} 
															<div class="form-group">
																<label class="custom-switch">
																	<input type="checkbox" class="custom-switch-input" data-id="{{ batiment.id }}" {% if batiment.enService == 1 %}checked {% else %}disabled{% endif %} >
																	
																	<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
																</label>
															</div>
														{% endif %}
													</td>
												{% endif %}

												<td>
													<span class="tag tag-cyan">{{ batiment.chambres|length|number_format }}</span>
												</td>
												
												<td>
													<a href="{{ path ('modifier_batiment', {'slug': batiment.slug })}}" 
														class="btn btn-outline-primary btn-sm rounded-5"
														data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Modifier{% endtrans %} : {{ batiment.batiment }}"
														>
														<i class="ri-edit-box-line"></i>
													</a>
													{% if batiment.supprime == 0 %}
														{% if batiment.chambres|length == 0 %}
															<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
																onclick="swal({
																	'title': 'Attention', 
																	'type': 'warning', 
																	'text': 'Voulez-vous vraiment supprimer ce bâtiment ?', 
																	'showCancelButton': true, 
																	'confirmButtonText': 'Oui', 
																	'confirmButtonColor': '#f00', 
																	'cancelButtonText': 'Non', 
																	'cancelButtonColor': '#38cb89', 
																	'confirmButtonPath': '{{ path ('supprimer_batiment', {'slug': batiment.slug })}} '});">
										
															<i class="ri-delete-bin-line"></i></a>
															{% else %}
															<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
																onclick="swal({
																	'title': 'Danger',
																	'text': 'Suppression annulée. Ce bâtiment a des chambres !',
																	'type': 'error',
																	'showCancelButton': true,
																	'showConfirmButton': false,
																	'confirmButtonText': false,
																	'cancelButtonText': 'OK',
																	'cancelButtonColor': '#088318', 
																})">
																<i class="ri-delete-bin-line"></i>
															</a>
														{% endif %}	
														{% else %}
														<a href="{{ path ('supprimer_batiment', {'slug': batiment.slug })}}" 
															class="btn btn-outline-success btn-sm rounded-5" 
															data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Rétablir {% endtrans %} : {{ batiment.batiment }}"
														>
															<i class="ri-arrow-go-back-line"></i>
														</a>
													{% endif %}

												</td>
											</tr>
											{% set i = i + 1 %}
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!-- Table ends -->

						</div>
					</div>
				</div>

            </div>

		</div>
	</div>


<script src="{{ asset ('js/activerDesactiverBatiment.js')}}"></script>
{% endblock %}
