{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter une société{% endtrans %}
        {% else %}
        {% trans %}Modification d'une société{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">


                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <h3 class="card-title">

                                            {% if slug == 0 %}
                                                <i class="fa fa-building me-2"></i> 
                                                {% trans %}Ajout d'une société{% endtrans %}
                                                {% else %}
                                                    <i class="fe fe-edit"></i>
                                                {% trans %}Modification de la société : {% endtrans %} {{ societe.societe }}
                                            {% endif %}

                                        </h3>
                                    </div>
                                    <h5 class="card-title">
                                        <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                                            <span class="badge bg-white text-dark">{{ societes|length|number_format }}</span>
                                            <span> {% trans %}société(s) enregistrée(s){% endtrans %}</span>
                                        </button>
                                    </h5>
                                    <a href="{{ path ('afficher_societe') }}" class="btn btn-primary ms-auto"><i class="ri-list-check"></i>{% trans %}Liste des sociétés{% endtrans %}</a>
                                </div>
                            </div>
                            <div class="card-body ">
                                {{ form_start(formSociete, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        <div class="col-md-2 position-relative">
                                        </div>
                                        <div class="col-md-4 position-relative">
                                            <label for="validationCustom01" class="form-label">{% trans %}Société{% endtrans %}</label>
                                            {{ form_widget(formSociete.societe, {'attr': {'id':'validationCustom01'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir une société !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-md">
                                                <i class="fe fe-save"></i> 
                                                {% if slug == 0 %}
                                                    {% trans %}Enregistrer{% endtrans %}
                                                    {% else %}
                                                    {% trans %}Enregistrer les modifications{% endtrans %}
                                                {% endif %}
                                            </button>
                                        </div>
                                        <div class="col-md-2 position-relative">
                                        </div>
                                    </div>
                                        
                                {{ form_end(formSociete)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
