{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des patients{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}

<!-- Row starts -->
            <div class="row gx-3">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							<h5 class="card-title">
								<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
									<span class="badge bg-white text-dark">{{ patients|length|number_format }}</span>
									<span> {% trans %}patient(s) enregistré(s){% endtrans %}</span>
								</button>
							</h5>
							<a href="{{ path ('ajouter_patient') }}" class="btn btn-primary ms-auto">{% trans %}Ajouter un patient{% endtrans %}</a>
						</div>
						<div class="card-body">

							<!-- Table starts -->
							<div class="table-responsive">
								<table id="basicExample" class="table truncate m-0 table-hover align-middle">
									<thead>
										<tr>
											<th>No.</th>
											<th>Code</th>
											<th>{% trans %}Patient{% endtrans %}</th>
											<th>{% trans %}Genre{% endtrans %}</th>
											<th>{% trans %}Âge{% endtrans %}</th>
											<th>{% trans %}Contact{% endtrans %}</th>
											<th>{% trans %}Adresse{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>No.</th>
											<th>Code</th>
											<th>{% trans %}Patient{% endtrans %}</th>
											<th>{% trans %}Genre{% endtrans %}</th>
											<th>{% trans %}Âge{% endtrans %}</th>
											<th>{% trans %}Contact{% endtrans %}</th>
											<th>{% trans %}Adresse{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</tfoot>
									<tbody>
										{% set i = 1 %}
										{% for patient in patients %}
											<tr>
												<td>{{ i }}</td>
												<td>{{ patient.code }}</td>
												<td style="text-align: left !important;">
													<img src="{{ asset ('images/photoPatient/patient.png') }}" class="img-shadow img-2x rounded-5 me-1"
													alt="{{ patient.nom }}">
													{{ patient.nom }}
												</td>
												<td>
													{% if patient.genre ? patient.genre.genre == "M" : "" %}
														<span class="badge bg-info-subtle text-info">{% trans %}Masculin{% endtrans %}</span>
														{% else %}
														<span class="badge bg-warning-subtle text-warning">{% trans %}Féminin{% endtrans %}</span>
													{% endif %}
												</td>
												<td>{{ patient.dateNaissanceAt ? patient.dateNaissanceAt|age : 0 }} {% trans %}ans{% endtrans %}</td>
												<td>
													{{ patient.telephone }}
												</td>
												<td>{{ patient.adresse }}</td>
												<td>
													<div class="d-inline-flex gap-1">
														<a href="{{ path ('modifier_patient', {'slug': patient.slug }) }}" class="btn btn-outline-success btn-sm"
															data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Modifier{% endtrans %} : {{ patient.nom }}">
															<i class="ri-edit-box-line"></i>
														</a>
														<a href="{{ path ('details_patient', {'slug': patient.slug }) }}" class="btn btn-outline-info btn-sm"
														data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Afficher les détails de{% endtrans %} : {{ patient.nom }}">
														<i class="ri-eye-line"></i>
														</a>
													</div>
												</td>
											</tr>
											{% set i = i + 1 %}
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!-- Table ends -->

						</div>
					</div>
				</div>
            </div>
            <!-- Row ends -->
		</div>
	</div>
	<!-- End app-content-->
	<script src="{{ asset ('js/activerDesactiverPrisEnCharge.js')}}"></script>
{% endblock %}
