{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un patient{% endtrans %}
        {% else %}
        {% trans %}Modification d'un patient{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">
                                {% if slug == 0 %}
                                    {% trans %}Enregistrement d'un patient{% endtrans %}
                                    {% else %}
                                    {% trans %}Modification d'un patient{% endtrans %}
                                {% endif %}
                            </h5>
                        </div>
                        <div class="col-md-6" style="text-align: right !important;">
                            <a href="{{ path ('afficher_patient', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                {% trans %}Les patients{% endtrans %}
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="card-body">
                    {{ form_start(formPatient, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                            <div class="row" style="margin-top: 15px !important;">
                                
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Nom du patient{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.nom, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le nom !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Date de naissance{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.dateNaissanceAt, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir la date de naissance !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Adresse{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.adresse, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir l'adresse !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Profession{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.profession, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir la profession !{% endtrans %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px !important;">
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Ville de résidence{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.villeResidence, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir la ville de résidence !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Numéro CNI{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.numCni, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le numéro de la CNI !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Numéro de téléphone{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.telephone, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le numéro de téléphone !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Pays{% endtrans %} <span class="text-danger">*</span></label>
                                    {{ form_widget(formPatient.pays, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner le pays !{% endtrans %}
                                    </div>
                                </div>
                            </div>
                             <div class="row" style="margin-top: 15px !important;">
                                <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                </div>
                                <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                 <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                </div>
                            </div>
                                
                        {{ form_end(formPatient)}}

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->
    </div>
</div>
{% endblock %}
