{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Détails du patient{% endtrans %} : {{ patient.nom }}
{% endblock %}

{% block body %}
	<!-- Row starts -->
            <div class="row gx-3">
				<div class="col-sm-12">
					<div class="card mb-3">
						<div class="card-body">

							<div class="d-flex ">
								<!-- Stats starts -->
								<div class="d-flex align-items-center flex-wrap gap-4">
									<div class="d-flex align-items-center">
										<div class="icon-box lg bg-primary rounded-5 me-2">
											<i class="ri-account-circle-line fs-3"></i>
										</div>
										<div>
											<h5 class="mb-1">{{ patient.nom }}</h5>
											<p class="m-0">{% trans %}Nom du patient{% endtrans %}</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div class="icon-box lg bg-primary rounded-5 me-2">
											{% if patient.genre.genre == "M" %}
												<i class="ri-men-line fs-3"></i>
												{% else %}
												<i class="ri-women-line fs-3"></i>
											{% endif %}
										</div>
										<div>
											<h4 class="mb-1">{{ patient.genre.genre }}</h4>
											<p class="m-0">{% trans %}Genre{% endtrans %}</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div class="icon-box lg bg-primary rounded-5 me-2">
											<i class="ri-arrow-right-up-line fs-3"></i>
										</div>
										<div>
											<h4 class="mb-1">{{ patient.dateNaissanceAt ? patient.dateNaissanceAt|age : 0 }} {% trans %}ans{% endtrans %}</h4>
											<p class="m-0">{% trans %}Âge{% endtrans %}</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div class="icon-box lg bg-primary rounded-5 me-2">
											<i class="ri-contrast-drop-2-line fs-3"></i>
										</div>
										<div>
											<h4 class="mb-1">{{ patient.groupeSanguin ? patient.groupeSanguin.groupeSanguin : "?" }}</h4>
											<p class="m-0">{% trans %}Groupe sanguin{% endtrans %}</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<div class="icon-box lg bg-secondary rounded-5 me-2">
											<i class="ri-smartphone-line fs-3 text-body"></i>
										</div>
										<div>
											<h4 class="mb-1">{{ patient.telephone }}</h4>
											<p class="m-0">{% trans %}Contact{% endtrans %}</p>
										</div>
									</div>
								</div>
								<!-- Stats ends -->

								<img src="{{ asset ('images/photoPatient/patient.png') }}" class="img-7x rounded-circle ms-auto"
									alt="{{ patient.nom }}">
							</div>
						</div>
					</div>
				</div>
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-3">
				<div class="col-xxl-3 col-sm-6 col-12">
					<div class="card mb-3">
						<div class="card-body">
							<div class="text-center">
								<div class="icon-box md bg-danger rounded-5 m-auto">
									<i class="ri-capsule-line fs-3"></i>
								</div>
								<div class="mt-3">
									<h5>{% trans %}Niveaux de la tension artérielle{% endtrans %}</h5>
									<p class="m-0 opacity-50">{% trans %}Les cinqs dernières visites{% endtrans %}</p>
								</div>
							</div>
							<div id="bpLevels"></div>
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>24/04/2024</div>
									<div>140</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>16/04/2024</div>
									<div>190</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-sm-6 col-12">
					<div class="card mb-3">
						<div class="card-body">
							<div class="text-center">
								<div class="icon-box md bg-info rounded-5 m-auto">
									<i class="ri-contrast-drop-2-line fs-3"></i>
								</div>
								<div class="mt-3">
									<h5>{% trans %}Taux de sucre{% endtrans %}</h5>
									<p class="m-0 opacity-50">{% trans %}Les cinqs dernières visites{% endtrans %}</p>
								</div>
							</div>
							<div id="sugarLevels"></div>
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>24/04/2024</div>
									<div>140</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>16/04/2024</div>
									<div>190</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-sm-6 col-12">
					<div class="card mb-3">
						<div class="card-body">
							<div class="text-center">
								<div class="icon-box md bg-success rounded-5 m-auto">
									<i class="ri-heart-pulse-line fs-3"></i>
								</div>
								<div class="mt-3">
									<h5>{% trans %}Fréquence cardiaque{% endtrans %}</h5>
									<p class="m-0 opacity-50">{% trans %}Les cinqs dernières visites{% endtrans %}</p>
								</div>
							</div>
							<div id="heartRate"></div>
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>24/04/2024</div>
									<div>110</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>16/04/2024</div>
									<div>120</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>100</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-sm-6 col-12">
					<div class="card mb-3">
						<div class="card-body">
							<div class="text-center">
								<div class="icon-box md bg-warning rounded-5 m-auto">
									<i class="ri-flask-line fs-3"></i>
								</div>
								<div class="mt-3">
									<h5>{% trans %}Cholestérol{% endtrans %}</h5>
									<p class="m-0 opacity-50">{% trans %}Les cinqs dernières visites{% endtrans %}</p>
								</div>
							</div>
							<div id="clolesterolLevels"></div>
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>24/04/2024</div>
									<div>180</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>16/04/2024</div>
									<div>220</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<div>10/04/2024</div>
									<div>230</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-3">
				<div class="col-xl-6 col-sm-12">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title">{% trans %}Visites chez le médecin{% endtrans %}</h5>
						</div>
						<div class="card-body">
							<div class="table-outer">
								<div class="table-responsive">
									<table class="table align-middle truncate m-0">
									<thead>
										<tr>
											<th>{% trans %}Docteur{% endtrans %}</th>
											<th>Date</th>
											<th>{% trans %}Département{% endtrans %}</th>
											<th>{% trans %}Rapport{% endtrans %}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<td>
											<img src="{{ asset ('assets/images/user1.png') }}" class="img-3x rounded-2" alt="Medical Dashboard"> Dr.
											Hector
										</td>
										<td>20/05/2024</td>
										<td>
											Dentist
										</td>
										<td>
											<div class="d-inline-flex gap-1">
											<button class="btn btn-danger btn-sm" data-bs-toggle="modal"
												data-bs-target="#viewReportsModal1">
												{% trans %}Rapports{% endtrans %}
											</button>
											<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
												data-bs-title="Download Report">
												<i class="ri-file-download-line"></i>
											</button>
											</div>
										</td>
										</tr>
										<tr>
										<td>
											<img src="{{ asset ('assets/images/user5.png') }}" class="img-3x rounded-2" alt="Medical Dashboard"> Dr.
											Mitchel
										</td>
										<td>20/05/2024</td>
										<td>
											Urologist
										</td>
										<td>
											<div class="d-inline-flex gap-1">
											<button class="btn btn-danger btn-sm" data-bs-toggle="modal"
												data-bs-target="#viewReportsModal1">
												{% trans %}Rapports{% endtrans %}
											</button>
											<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
												data-bs-title="Download Report">
												<i class="ri-file-download-line"></i>
											</button>
											</div>
										</td>
										</tr>
										<tr>
										<td>
											<img src="{{ asset ('assets/images/user3.png') }}" class="img-3x rounded-2" alt="Medical Dashboard"> Dr.
											Fermin
										</td>
										<td>18/03/2024</td>
										<td>
											Surgeon
										</td>
										<td>
											<div class="d-inline-flex gap-1">
											<button class="btn btn-danger btn-sm" data-bs-toggle="modal"
												data-bs-target="#viewReportsModal1">
												{% trans %}Rapports{% endtrans %}
											</button>
											<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
												data-bs-title="Download Report">
												<i class="ri-file-download-line"></i>
											</button>
											</div>
										</td>
										</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-sm-12">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title">{% trans %}Résultats des examens{% endtrans %}</h5>
						</div>
						<div class="card-body">
							<div class="table-outer">
								<div class="table-responsive">
									<table class="table align-middle truncate m-0">
										<thead>
											<tr>
												<th>N°</th>
												<th>{% trans %}Examens{% endtrans %}</th>
												<th>Date</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>
													<a href="#!" class="link-primary text-truncate">Reports 1 clinical
													documentation</a>
												</td>
												<td>May-28, 2024</td>
												<td>
													<div class="d-inline-flex gap-1">
													<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delRow">
														<i class="ri-delete-bin-line"></i>
													</button>
													<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
														data-bs-title="Download Report">
														<i class="ri-file-download-line"></i>
													</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>2</td>
												<td>
													<a href="#!" class="link-primary text-truncate">Reports 2 random files
													documentation</a>
												</td>
												<td>Mar-20, 2024</td>
												<td>
													<div class="d-inline-flex gap-1">
													<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delRow">
														<i class="ri-delete-bin-line"></i>
													</button>
													<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
														data-bs-title="Download Report">
														<i class="ri-file-download-line"></i>
													</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>3</td>
												<td>
													<a href="#!" class="link-primary text-truncate">Reports 3 glucose level
													complete report</a>
												</td>
												<td>Feb-18, 2024</td>
												<td>
													<div class="d-inline-flex gap-1">
													<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delRow">
														<i class="ri-delete-bin-line"></i>
													</button>
													<button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
														data-bs-title="Download Report">
														<i class="ri-file-download-line"></i>
													</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-sm-6">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title">{% trans %}Pharmacie{% endtrans %}</h5>
						</div>
						<div class="card-body">
							<div class="scroll350">
								<div class="text-center">
									<img class="img-fluid mb-3" src="{{ asset ('assets/images/reports.svg')}}" style="width: 180px;"
									alt="Hospitov">
									<h2>$980</h2>
									<span class="d-block mb-1">{% trans %}Dépenses moyennes{% endtrans %}</span>
									<span class="d-block mb-2"><b>+20%</b> vs {% trans %}Dernier mois{% endtrans %}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-sm-6">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title">{% trans %}Chronologie{% endtrans %}</h5>
						</div>
						<div class="card-body">

							<!-- Activity starts -->
							<div class="scroll350">
								<div class="activity-feed">
									<div class="feed-item">
										<span class="feed-date pb-1" data-bs-toggle="tooltip" data-bs-title="Today 05:32:35">An
											Hour Ago
										</span>
										<div class="mb-1">
											<a href="#" class="text-primary">Dr. Janie Mcdonald</a> - sent a new prescription.
										</div>
										<div class="mb-1">Medecine Name - <a href="#" class="text-danger">Amocvmillin</a></div>
										<a href="#!" class="text-dark">Payment Link <i class="ri-arrow-right-up-line"></i> </a>
									</div>
									<div class="feed-item">
										<span class="feed-date pb-1" data-bs-toggle="tooltip" data-bs-title="Today 05:32:35">An
											Hour Ago
										</span>
										<div class="mb-1">
											<a href="#" class="text-primary">Dr. Hector Banks</a> - uploaded a report.
										</div>
										<div class="mb-1">Report Name - <a href="#" class="text-danger">Lisymorpril</a></div>
										<a href="#!" class="text-dark">Payment Link <i class="ri-arrow-right-up-line"></i> </a>
									</div>
									<div class="feed-item">
										<span class="feed-date pb-1" data-bs-toggle="tooltip" data-bs-title="Today 05:32:35">An
											Hour Ago
										</span>
										<div class="mb-1">
											<a href="#" class="text-primary">Dr. Deena Cooley</a> - sent medecine details.
										</div>
										<div class="mb-1">Medecine Name - <a href="#" class="text-danger">Predeymsone</a></div>
										<a href="#!" class="text-dark">Payment Link <i class="ri-arrow-right-up-line"></i> </a>
									</div>
									<div class="feed-item">
										<span class="feed-date pb-1" data-bs-toggle="tooltip" data-bs-title="Today 05:32:35">An
											Hour Ago
										</span>
										<div class="mb-1">
											<a href="#" class="text-primary">Dr. Mitchel Alvarez</a> - added import files.
										</div>
										<div class="mb-1">File Name - <a href="#" class="text-danger">Naverreone</a></div>
										<a href="#!" class="text-dark">Payment Link <i class="ri-arrow-right-up-line"></i> </a>
									</div>
									<div class="feed-item">
										<span class="feed-date pb-1" data-bs-toggle="tooltip" data-bs-title="Today 05:32:35">An
											Hour Ago
										</span>
										<div class="mb-1">
											<a href="#" class="text-primary">Dr. Owen Scott</a> - reviewed your file.
										</div>
										<div class="mb-1">File Name - <a href="#" class="text-danger">Gabateyntin</a></div>
										<a href="#!" class="text-dark">Payment Link <i class="ri-arrow-right-up-line"></i> </a>
									</div>
								</div>
							</div>
							<!-- Activity ends -->

						</div>
					</div>
				</div>
            </div>
            <!-- Row ends -->

            <!-- Modal View All Reports -->
            <div class="modal fade" id="viewReportsModal1" tabindex="-1" aria-labelledby="viewReportsModalLabel1"
              aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="viewReportsModalLabel1">
                      {% trans %}Rapports{% endtrans %}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <!-- Row starts -->
                    <div class="row g-3">
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Clinical Report</h6>
                          <p class="m-0 small">10/05/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Dentist Report</h6>
                          <p class="m-0 small">20/06/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Glucose Report</h6>
                          <p class="m-0 small">30/06/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">X-ray Report</h6>
                          <p class="m-0 small">26/08/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Ultrasound Report</h6>
                          <p class="m-0 small">21/08/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Hypothermia Report</h6>
                          <p class="m-0 small">15/04/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Discharge Report</h6>
                          <p class="m-0 small">22/07/2024</p>
                        </a>
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center"
                          data-bs-target="#viewReportsModal2" data-bs-toggle="modal">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Diabetes Report</h6>
                          <p class="m-0 small">17/05/2024</p>
                        </a>
                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                </div>
              </div>
            </div>

            <!-- Modal View Single Report -->
            <div class="modal fade" id="viewReportsModal2" tabindex="-1" aria-labelledby="viewReportsModalLabel2"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="viewReportsModalLabel2">
                      <div class="d-flex align-items-center">
                        <a href="#!" class="btn btn-sm btn-outline-primary me-2" data-bs-target="#viewReportsModal1"
                          data-bs-toggle="modal">
                          <i class="ri-arrow-left-wide-fill"></i>
                        </a>
                        Clinical Report
                      </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <!-- Row starts -->
                    <div class="row g-3">
                      <div class="col-sm-12">
                        <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center">
                          <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                          <h6 class="mt-3 mb-1 text-truncate">Clinical Report</h6>
                          <p class="m-0 small">10/05/2024</p>
                        </a>
                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                </div>
              </div>
            </div>
		</div>
	</div>
{% endblock %}
