{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des lits{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
			<!-- Row starts -->
            <div class="row gx-3">
              
				<div class="col-sm-12  mb-5">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							
							<h5 class="card-title">
								<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
									<span class="badge bg-white text-dark">{{ lits|length|number_format }}</span>
									<span> {% trans %}lit(s) enregistré(s){% endtrans %}</span>
								</button>
							</h5>
						
							
							<a href="{{ path ('ajouter_lit') }}" class="btn btn-primary ms-auto">
								{% trans %}Ajouter un lit{% endtrans %}
							</a>
								
						</div>
						<div class="card-body">

							<!-- Table starts -->
							<div class="table-responsive">
								<table id="basicExample" class="table m-0 table-hover align-middle">
									<thead>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Lit{% endtrans %}</th>
											<th>{% trans %}Chambre{% endtrans %}</th>
											<th>{% trans %}Département{% endtrans %}</th>
											<th>{% trans %}Bâtiment{% endtrans %}</th>
											<th>{% trans %}Disponibilité{% endtrans %}</th>
											<th>{% trans %}En service{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Lit{% endtrans %}</th>
											<th>{% trans %}Chambre{% endtrans %}</th>
											<th>{% trans %}Département{% endtrans %}</th>
											<th>{% trans %}Bâtiment{% endtrans %}</th>
											<th>{% trans %}Disponibilité{% endtrans %}</th>
											<th>{% trans %}En service{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</tfoot>
									<tbody>
										{% set i = 1 %}
										{% for lit in lits %}
											<tr>
												<td>{{ i }}</td>
												<td>{{ lit.numeroLit }}</td>
												<td>
													{{ lit.chambre.chambre}}
												</td>
												<td>
													{{ lit.chambre.specialite.specialite}}
												</td>
												<td>
													{{ lit.chambre.batiment.batiment}}
												</td>
												<td>
													{% if lit.disponible == 1 %}
														<span class="badge border border-success text-success">{% trans %}Libre{% endtrans %}</span>
														{% else %}
														<span class="badge border border-danger text-danger">{% trans %}Occupé{% endtrans %}</span>
													{% endif %}
												</td>
												<td>
													{% if lit.disponible == 1 %}
														<div class="form-group">
															<label class="custom-switch">
																<input type="checkbox" class="custom-switch-input" data-id="{{ lit.id }}" {% if lit.enService == 1 %}checked{% endif %} >
																
																<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
															</label>
														</div>
														{% else %}
														<div class="form-group">
															<label class="custom-switch">
																<input type="checkbox" class="custom-switch-input" data-id="{{ lit.id }}" {% if lit.enService == 1 %}checked {% else %}disabled{% endif %} disabled="">
																
																<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
															</label>
														</div>
													{% endif %}
												</td>
												<td>
													<div class="d-inline-flex gap-1">

														<a href="{{ path ('modifier_lit', {'slug': lit.slug })}}" class="btn btn-outline-success btn-sm rounded-5"
															data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Modifier{% endtrans %} : {{ lit.numeroLit }}">
															<i class="ri-edit-box-line"></i>
														</a>
														
														<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
															onclick="swal({
																'title': 'Attention', 
																'type': 'warning', 
																'text': 'Voulez-vous vraiment supprimer ce lit?', 
																'showCancelButton': true, 
																'confirmButtonText': 'Oui', 
																'confirmButtonColor': '#f00', 
																'cancelButtonText': 'Non', 
																'cancelButtonColor': '#38cb89', 
																'confirmButtonPath': '{{ path ('supprimer_lit', {'slug': lit.slug })}} '});">
									
															<i class="ri-delete-bin-line"></i>
														</a>
																
													</div>

												</td>
											</tr>
											{% set i = i + 1 %}
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!-- Table ends -->

						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- End app-content-->
<script src="{{ asset ('js/activerDesactiverLit.js')}}"></script>
{% endblock %}
