{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des échographies{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}

			<!-- Row starts -->
            <div class="row gx-3">
              
				<div class="col-sm-12  mb-5">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							
							<h5 class="card-title">
								<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
									<span class="badge bg-white text-dark">{{ echographies|length|number_format }}</span>
									<span> {% trans %}échographie(s) enregistrée(s){% endtrans %}</span>
								</button>
							</h5>
						
							
							<a href="{{ path ('ajouter_echographie') }}" class="btn btn-primary ms-auto">
								{% trans %}Ajouter une échographie{% endtrans %}
							</a>
								
						</div>
						<div class="card-body">

							<!-- Table starts -->
							<div class="table-responsive">
								<table id="basicExample" class="table m-0 table-hover align-middle">
									<thead>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Echographie{% endtrans %}</th>
											<th>{% trans %}Prix{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>{% trans %}N°{% endtrans %}</th>
											<th>{% trans %}Echographie{% endtrans %}</th>
											<th>{% trans %}Prix{% endtrans %}</th>
											<th>Actions</th>
										</tr>
									</tfoot>
									<tbody>
										{% set i = 1 %}
										{% for echographie in echographies %}
											<tr>
												<td>{{ i }}</td>
												<td>{{ echographie.libelle }}</td>
												
												<td>
													{{ echographie.prixVente|number_format }}
												</td>
												<td>
													<div class="d-inline-flex gap-1">

														{% if is_granted('ROLE_CAISSIERE')  %}
								
															<div >
																<input type="hidden" value="1" min="1" step="1" class="form-control text-center quantite" id="validationCustom05" required="required" placeholder="Veuillez saisir la quantité">
																<input type="hidden" id="typeProduit" value="echographie">
																<button class="btn btn-outline-primary btn-md btn-block ajout-produit-panier" data-produit-id="{{ echographie.id }}" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ echographie.libelle }} {% trans %}dans la facture{% endtrans %}"><i class="si si-plus me-2"></i>Ajouter dans la facture</button>
															</div>
															{% else %}
															<a href="{{ path ('modifier_echographie', {'slug': echographie.slug })}}" class="btn btn-outline-success btn-sm rounded-5"
																data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Modifier{% endtrans %} : {{ echographie.libelle }}">
																<i class="ri-edit-box-line"></i>
															</a>
															
															<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
																onclick="swal({
																	'title': 'Attention', 
																	'type': 'warning', 
																	'text': 'Voulez-vous vraiment supprimer cette echographie ?', 
																	'showCancelButton': true, 
																	'confirmButtonText': 'Oui', 
																	'confirmButtonColor': '#f00', 
																	'cancelButtonText': 'Non', 
																	'cancelButtonColor': '#38cb89', 
																	'confirmButtonPath': '{{ path ('supprimer_echographie', {'slug': echographie.slug })}} '});">
										
																<i class="ri-delete-bin-line"></i>
															</a>
																
														{% endif %}	
													</div>

												</td>
											</tr>
											{% set i = i + 1 %}
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!-- Table ends -->

						</div>
					</div>
				</div>

            </div>
        </div>
    </div>
            <!-- Row ends -->

		<!-- End app-content-->
		<script src="{{ asset ('js/ajoutProduitPanier.js')}}"></script>
		<script src="{{ asset ('js/verificationQuantiteNegativeListeProduit.js')}}"></script>
		<script src="{{ asset ('js/retireProduit.js')}}"></script>
{% endblock %}