{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter une échographie{% endtrans %}
        {% else %}
        {% trans %}Modification d'une échographie{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        <i class="fa fa-eercast me-2"></i>
                                        {% trans %}Ajout d'une échographie{% endtrans %}
                                        {% else %}
                                        <i class="fa fa-eercast  me-2"></i>
                                        {% trans %}Modification de : {% endtrans %} {{ echographie.libelle }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('afficher_echographie', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                    {% trans %}Afficher les échographies{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(formEchographie, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                            <div class="row" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Intitulé de l'échographie{% endtrans %}</label>
                                    {{ form_widget(formEchographie.libelle, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir une échographie !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Prix{% endtrans %}</label>
                                    {{ form_widget(formEchographie.prixVente, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le prix!{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                
                            </div>
                        {{ form_end(formEchographie)}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->
    </div>
</div>
{% endblock %}
