{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un département / une spécialité{% endtrans %}
        {% else %}
        {% trans %}Modification d'un département / d'une spécialité{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}

    <!-- Row starts -->
            <div class="row gx-3">
                <div class="col-sm-12 col-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title text-info">
                                        {% if slug == 0 %}
                                            <i class="fa fa-stethoscope me-2"></i>
                                            {% trans %}Ajout d'un département / d'une spécialité{% endtrans %}
                                            {% else %}
                                            <i class="fa fa-stethoscope  me-2"></i>
                                            {% trans %}Modification d'un département / d'une spécialité{% endtrans %}
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col-md-6" style="text-align: right !important;">
                                    <a href="{{ path ('afficher_specialite', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                        {% trans %}Afficher les départements / les spécialités{% endtrans %}
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <p class="mb-2">
                                {{ form_start(formSpecialite, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        
                                        <div class="col-md-5 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Département / Spécialité{% endtrans %} <span class="text-danger">*</span></label>
                                            {{ form_widget(formSpecialite.specialite, {'attr': {'id':'validationCustom04'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez saisir le nom du département / de la spécialité !{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-5 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Chef de département{% endtrans %}</label>
                                            <select class="form-select border" id="idUser" name="idMedecin">
                                                <option selected disabled value="">{% trans %}Sélectionner un médecin{% endtrans %}</option>
                                                {% for medecin in medecins %}
                                                    {% if specialite %}
                                                        <option value="{{ medecin.id }}" {% if medecin.id == specialite.chefDeDepartement.id %} selected {% endif %}>
                                                            {{ medecin.nom }} - {{ medecin.specialite ? medecin.specialite.specialite : medecin.typeUtilisateur.typeUtilisateur }}
                                                        </option>
                                                        {% else %}
                                                        <option value="{{ medecin.id }}">
                                                            {{ medecin.nom }} - {{ medecin.specialite ? medecin.specialite.specialite : medecin.typeUtilisateur.typeUtilisateur }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez sélectionner un médecin{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-md-2 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-primary btn-md">
                                                <i class="fe fe-save me-2"></i> 
                                                {% trans %}Enregistrer{% endtrans %}
                                            </button>
                                        </div>
                                    </div>
                                        
                                {{ form_end(formSpecialite)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
        <!-- Row ends -->

        
{% endblock %}
