{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Détails examen{% endtrans %}
{% endblock %}

{% block body %}
<!--Row-->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">
                        {% trans %}Détails des examens {% endtrans %} 
                        {% for examenAFaire in resultatExamen.listeExamensAFaires %}
                            {{ examenAFaire.examen.libelle }} 
                            {% if not loop.last %}, 
                            {% endif %}
                            {% else %}
                            {% trans %}Aucun examen{% endtrans %}
                        {% endfor %}
                    </h5>
                    {# <a href="{{ path ('resultats_examen', {'resultatExamen': 'tousLesExamens'})}}" class="btn btn-outline-primary">
					    <i class="ri-stethoscope-line"></i>
					    <span class="menu-text">{% trans %}Tous les examens{% endtrans %}</span>
					</a> #}
                    {% if is_granted('ROLE_LABORANTIN') %}
                        <a href="{{ path ('envoyer_resultat', {'slug': resultatExamen.slug }) }}" class="btn btn-outline-primary">
                            <i class="ri-stethoscope-line me-2"></i> {% trans %}Ajouter les résultats{% endtrans %}
                        </a>
                    {% endif %}    
                </div>
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        <table id="basicExample" class="table m-0 table_striped table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>{% trans %}Fichier{% endtrans %}</th>
                                    <th>Date</th>
                                    {% if is_granted('ROLE_LABORANTIN') %}
                                        <th>Actions</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>N°</th>
                                    <th>{% trans %}Fichier{% endtrans %}</th>
                                    <th>Date</th>
                                    {% if is_granted('ROLE_LABORANTIN') %}
                                        <th>Actions</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                            <tbody>
                            {% set i = 1 %}
                                {% for fichier in resultatExamen.fichierResultatExamens %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>
                                            <a href="{{ asset ('fichiersExamens/' ~ fichier.fichierResultat )}}" class="link-primary text-truncate" target="_blank">   
                                                {% set extension = fichier.nomFichier|split('.')|last|lower %}
                                                {% if extension == 'pdf' %}
                                                    <img src="{{ asset ('assets/images/pdf.png')}}" alt="pdf" width="30" heigth="30">
                                                {% endif %}

                                                {% if extension in ['png', 'jpeg', 'jpg'] %}
                                                    <img src="{{ asset ('assets/images/image.jpg')}}" alt="image" width="30" heigth="30">
                                                {% endif %}
                                                {{ fichier.nomFichier}}
                                            </a>
                                        
                                        </td>
                                        <td>
                                            {{ fichier.updatedAt ? fichier.updatedAt|date('d') : "" }} 
                                            {{ fichier.updatedAt ? fichier.updatedAt|date('m')|mois_en_lettres : "" }} 
                                            {{ fichier.updatedAt ? fichier.updatedAt|date('Y') : "" }} 
                                        </td>
                                        {% if is_granted('ROLE_LABORANTIN') %}
                                            <td>
                                                <div class="d-inline-flex gap-1">
                                                    <button class="btn btn-danger btn-delete" 
                                                    data-id="{{ fichier.id }}" data-token="{{ csrf_token('delete' ~ fichier.id) }}">
                                                    <i class="ri-delete-bin-line"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
<script src="{{ asset ('js/supprimerFichier.js')}}"></script>
{% endblock %}
