{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Envoie des résultats des examens{% endtrans %} 
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}
                <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% trans %}Envoie des résultats des examens de : {% endtrans %} {{ patient }}
                                    
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('afficher_produits', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                    {% trans %}Afficher les produits{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                            
                        <div class="card-body ">
                            {# {{ form_start(formResultatExamen, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                
                                <div class="row" id ="produitForm" style="margin-top: 15px !important;">
                                    
                                    <div class="col-md-6 position-relative">
                                        <label for="validationCustom01" class="form-label">{% trans %}Fichier des résultats{% endtrans %}</label>
                                        {{ form_widget(formResultatExamen.imageFile, {'attr': {'id':'validationCustom01'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez charger un fichier !{% endtrans %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-0">
                                        <input id="demo" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png, .pdf" multiple>
                                    </div>
                                    <input type="hidden" value="{{ csrfToken }}" name="csrfToken">
                                </div>
                                <div class="row" id ="produitForm" style="margin-top: 15px !important;">
                                    <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    </div>
                                    <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                        <button type="submit" class="btn btn-outline-primary btn-md">
                                            <i class="fe fe-save"></i> 
                                            {% trans %}Envoyer{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    </div>

                                </div>
                            {{ form_end(formResultatExamen)}} #}

                            <!-- Champ caché contenant l'ID du résultat d'examen -->
                            <input type="hidden" id="resultat-id" value="{{ resultatExamen.id }}">

                            <!-- Champ input pour sélectionner plusieurs fichiers -->
                            {# <input type="file" id="file-input" multiple> #}
                             <div class="col-md-6 form-group mb-0">
                                <input id="demo" id="file-input" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png, .pdf" multiple>
                            </div>
                            <input type="file" id="file-input" id="demo" name="files" class="form-control" accept=".jpg, .png, image/jpeg, image/png, .pdf" multiple>
                            <!-- Liste des fichiers sélectionnés -->
                            <ul id="file-list"></ul>

                            <!-- Bouton pour envoyer tous les fichiers -->
                            <button id="send-all-btn" class="btn btn-outline-primary">Envoyer tous les fichiers</button>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{asset('js/envoieFichiersExamen.js')}}"></script>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeProduit.js')}}"></script>
<script src="{{asset('js/ajoutKit.js')}}"></script>
    
{% endblock %}
