{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Details de la consultation : {% endtrans %} 
	{{ consultation.patient.nom }} - {{ consultation.patient.code }}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary"><i class="fa fa-eercast me-2"></i>
					{% trans %}Details de la consultation : {% endtrans %} 
					{{ consultation.patient.nom }} - {{ consultation.patient.code }}
				</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_INFIRMIERE_AIDE_SOIGNANTE') %}
						<a href="{{ path ('prendre_parametre') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Prendre les parametres{% endtrans %}
						</a>
					{% endif %}
						
				</div>
			</div>
		</div>
		<!--End Page header-->


		<!--Row-->
		<div class="main-proifle border-primary">
			<div class="row">
				<div class="col-lg-12 col-xl-8">
					<div class="box-widget widget-user">
						<div class="widget-user-image1 d-xl-flex d-block">
							<img alt="User Avatar" class="avatar brround p-0" src="{{ asset ('images/photoPatient/patient.png') }}">
							<div class="mt-1 ms-xl-5">
								<h4 class="pro-user-username mb-3 font-weight-bold">{{ consultation.patient.nom }} - {{ consultation.patient.code }} <i class="fa fa-check-circle text-success"></i></h4>
								<ul class="mb-0 pro-details">
									<li><span class="profile-icon bg-danger-transparent text-danger"><i class="fa fa-male"></i></span><span class="h6 mt-3">{{ consultation.patient.genre.genre }} </span></li>
									<li><span class="profile-icon bg-success-transparent text-success"><i class="fa fa-thermometer-2"></i></span><span class="h6 mt-3">{{ consultation.temperature }} °</span></li>
									<li><span class="profile-icon bg-info-transparent text-info"><i class="fe fe-activity"></i></span><span class="h6 mt-3">{{ consultation.tension }} </span></li>
									<li><span class="profile-icon bg-info-transparent text-info"><i class="fe fe-watch"></i></span><span class="h6 mt-3">{{ consultation.poids }} kg</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-auto col-xl-4">
					<div class="text-xl-right text-left btn-list mt-4 mt-lg-0">
						<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fe fe-phone me-2"></i> {% trans %}Contact{% endtrans %} : {{ consultation.patient.telephone}}</a>
						<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fe fe-printer me-2"></i> {% trans %}Imprimer{% endtrans %}</a>
					</div>
					<div class="mt-5">
						<div class="row">
							
						</div>
					</div>
				</div>
			</div>
			<div class="profile-cover">
				<div class="wideget-user-tab">
					<div class="tab-menu-heading p-0">
						<div class="tabs-menu1 px-3">
							<ul class="nav">
								<li><a href="#anamnese" class="active fs-14" data-bs-toggle="tab">{% trans %}Anamnèse{% endtrans %}</a></li>
								<li><a href="#examen" data-bs-toggle="tab" class="fs-14">{% trans %}Examen{% endtrans %}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- /.profile-cover -->
		</div>
		<!-- Row -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="border-0">
					<div class="tab-content">
						<div class="tab-pane active" id="anamnese">
							<div class="card border-primary">
								<div class="card-header ">
									<h3 class="card-title">{% trans %}Anamnèse{% endtrans %}</h3>
								</div>
								<div class="card-body">
									<div class="main-profile-bio mb-0">
										<p>{{ consultation.anamnese }}</p>
									</div>
								</div>
								
							</div>
						</div>
						<div class="tab-pane" id="examen">
							<div class="card p-5 border-primary">
								<div class="row">

									{% for examenLigneDeConsultatio in examenLigneDeConsultation %}
										<div class="col-lg-3">
											<div class="d-flex align-items-center border p-3 mb-3 br-7">
												<div class="wrapper ms-3">
													<p class="mb-0 mt-1  font-weight-semibold">{{ examenLigneDeConsultatio }}</p>
													<small class="text-muted">Project Manager</small>
												</div>
												
											</div>
										</div>
									{% endfor %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}