{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Envoie res résultats de {% endtrans %} {{ consultation.patient.nom }} - {{ consultation.patient.code }}   
{% endblock %}

{% block body %}
<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">
                                <i class="fa fa-upload me-2"></i>
                                    {% trans %}Envoie des résultats{% endtrans %}
                                </h4>
							</div>
							<div class="page-rightheader">
								<div class="btn-list">
									
									
								</div>
							</div>
						</div>

                        {% if slug == 0 %}
                            <div class="card border-primary">
                            {% else %}
                            <div class="card border-danger">
                        {% endif %}
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fa fa-upload  me-2"></i>
                                    {% trans %}Envoie des résultats de : {% endtrans %} <span class="tag tag-red">{{ consultation.patient.nom }}</span> - <span class="tag tag-dark">{{ consultation.patient.code }} </span>
                                </h3>
                            </div>
                            <div class="card-body ">
                                <div class="row" style="margin-top: 15px !important;">
                                    <div class="col-md-12 position-relative">
                                        <div class="expanel expanel-primary">
                                            <div class="expanel-heading">
                                                <h3 class="expanel-title">{% trans %}Examens prescrits{% endtrans %}</h3>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="tags">
                                                    {% for examenLigneDeConsultatio in examenLigneDeConsultation %}
                                                        <span class="tag tag-dark">{{ examenLigneDeConsultatio }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_start(formResultats, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                    <div class="row" style="margin-top: 15px !important;">
                                        
                                        <div class="col-md-6 position-relative">
                                            <label for="validationCustom04" class="form-label">{% trans %}Résultats des examens{% endtrans %}</label>
                                            {{ form_widget(formResultats.fichierResultatsExamenFile, {'attr': {'id':'validationCustom04'}}) }}

                                            <div class="invalid-feedback">
                                                {% trans %}Veuillez séletionner le fichier des résultats !{% endtrans %}
                                            </div>
                                        </div>
                                      
                                        <div class="col-md-6 position-relative text-center" style="margin-top: 30px !important;">
                                            <button type="submit" class="btn btn-outline-primary btn-lg">
                                                <i class="fa fa-upload me-2"></i> 
                                                {% trans %}Envoyer{% endtrans %}
                                            </button>
                                        </div>
                                        
                                    </div>
                                        
                                {{ form_end(formResultats)}}

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
