{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Parcours de : {% endtrans %} 
	{{ patient.nom }} - 
	{{ patient.code }}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
	<div class="container">

		<!--Page header-->
		<div class="page-header">
			<div class="page-leftheader">
				<h4 class="page-title mb-0 text-primary"><i class="fa fa-eercast me-2"></i>
					{% trans %}Parcours de : {% endtrans %} 
					{{ patient.nom }} - {{ patient.code }}
				</h4>
			</div>
			<div class="page-rightheader">
				<div class="btn-list">
					{% if is_granted('ROLE_INFIRMIERE_AIDE_SOIGNANTE') %}
						<a href="{{ path ('prendre_parametre') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
							{% trans %}Prendre les parametres{% endtrans %}
						</a>
					{% endif %}
					<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fe fe-printer me-2"></i>
						{% trans %}Imprimer le dossier{% endtrans %}
					</a>
						
				</div>
			</div>
		</div>
		<!--End Page header-->
		
		<!-- Row -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="border-0">
					{% for consultation in consultations %}
						<div class="tab-pane" id="parcours">
							<ul class="timelineleft pb-5">
								<li class="timeleft-label">
									<span class="bg-cyan">
										{% trans %}Date prise des paramètres{% endtrans %} : 
										{{ consultation.dateParametrePrisAt|date('d-m-Y') }} - 
										{{ consultation.heureParametreAt|date('H:i:s') }}
									</span>
									
									{% if consultation.dateConsultationAt is null %}
										<span class="bg-danger">{% trans %}Pas encore consulté(e){% endtrans %}</span>
									{% endif %}
								</li>
								<li>
									<i class="fa fa-commenting bg-cyan"></i>
									<div class="timelineleft-item border-cyan">
										<span class="time">
											{% if consultation.dateConsultationAt %}
												<i class="fa fa-clock-o text-danger me-2"></i>
												{% trans %}Date {% endtrans %} : 
												{{ consultation.dateConsultationAt|date('d-m-Y') }} - 
												{{ consultation.heureConsultationAt|date('H:i:s') }}
											{% endif %}
											
										</span>
										<h3 class="timelineleft-header">{% trans %}Anamnèse{% endtrans %}</h3>
										<div class="timelineleft-body">
											{{ consultation.anamnese }}
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-search bg-primary"></i>
									<div class="timelineleft-item border-primary">
										<span class="time">
											{% if consultation.dateConsultationAt %}
												<i class="fa fa-clock-o text-danger me-2"></i>
												{% trans %}Date {% endtrans %} : 
												{{ consultation.dateConsultationAt|date('d-m-Y') }} - 
												{{ consultation.heureConsultationAt|date('H:i:s') }}
											{% endif %}
										</span>
										<h3 class="timelineleft-header">{% trans %}Examens prescrits{% endtrans %}</h3>
										<div class="timelineleft-body">
											{% for examen in consultation.ligneConsultations %}
												<span class="tag tag-dark">{{ examen.examen.libelle }}</span>
											{% endfor %}
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-file-pdf-o bg-secondary"></i>
									<div class="timelineleft-item border-secondary">
										<span class="time">
											{% if consultation.dateResultatExamenAt %}
												<i class="fa fa-clock-o text-danger me-2"></i>
												{% trans %}Date {% endtrans %} : 
												{{ consultation.dateResultatExamenAt|date('d-m-Y') }} - 
												{{ consultation.heureResultatExamenAt|date('H:i:s') }}
											{% endif %}
										</span>
										<h3 class="timelineleft-header">{% trans %}Résultats des examens{% endtrans %}</h3>
										<div class="timelineleft-body">
											{% if consultation.fichierResultatsExamen %}
												<div class="row">

													<div class="col-md-6 text-center">
														<a href="{{ asset ('fichiersExamens/' ~ consultation.fichierResultatsExamen ) }}" target="_blank">
														<span class="text-primary fs-18 me-3">
															<i class="fe fe-download me-2"></i>{% trans %}Afficher les résultats{% endtrans %}
														</span>
													</a>
													</div>
													<div class="col-md-6 text-center">
														<span class="tag tag-dark">{{ consultation.laborantin.nom }}</span>
														<span class="tag tag-dark">{{ consultation.laborantin.contact }}</span>
														
													</div>
												</div>
												{% else %}
												<div class="row">

													<div class="col-md-12 text-center">
														<span class="tag tag-red">{% trans %}Résultats examen encore attendus !{% endtrans %}</span>
														</span>
													</div>
												</div>
							
											{% endif %}
											
											
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-check bg-warning"></i>
									<div class="timelineleft-item border-warning">
										<span class="time">
											{% if consultation.dateResultatExamenAt %}
												<i class="fa fa-clock-o text-danger me-2"></i>
												{% trans %}Date {% endtrans %} : 
												{{ consultation.dateResultatExamenAt|date('d-m-Y') }} - 
												{{ consultation.heureResultatExamenAt|date('H:i:s') }}
											{% endif %}
										</span>
										<h3 class="timelineleft-header">{% trans %}Diagnostic{% endtrans %}</h3>
										<div class="timelineleft-body">
											{{ consultation.diagnostic }}
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-file-text bg-blue"></i>
									<div class="timelineleft-item border-cyan">
										<span class="time">
											{% if consultation.dateResultatExamenAt %}
												<i class="fa fa-clock-o text-danger me-2"></i>
												{% trans %}Date {% endtrans %} : 
												{{ consultation.dateResultatExamenAt|date('d-m-Y') }} - 
												{{ consultation.heureResultatExamenAt|date('H:i:s') }}
											{% endif %}
										</span>
										<h3 class="timelineleft-header">{% trans %}Ordonnance{% endtrans %}</h3>
										<div class="timelineleft-body">
											{{ consultation.ordonnance }}
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-user-md bg-indigo"></i>
									<div class="timelineleft-item border-primary">
										
										<h3 class="timelineleft-header">{% trans %}Prise de paramètres et Consultations{% endtrans %}</h3>
										<div class="timelineleft-body">
											<div class="row">
												<div class="col-md-6 text-center">
													<span class="tag tag-blue">
														{% trans %}Paramètres pris par : {% endtrans %} 
													</span>
														<br><br>
													
													<span class="tag tag-dark">
														{{ consultation.parametrePrisPar.nom }}
													</span>
													<span class="tag tag-dark">
														{{ consultation.parametrePrisPar.contact }}
													</span>
												</div>
												<div class="col-md-6 text-center">
													{% if consultation.consultePar %}
														<span class="tag tag-blue">
															{% trans %}Consulté par : {% endtrans %} 
														</span>
															<br><br>
														<span class="tag tag-dark">
															{{ consultation.consultePar.nom }}
														</span>
														<span class="tag tag-dark">
															{{ consultation.consultePar.contact }}
														</span>
														<span class="tag tag-dark">
															{{ consultation.consultePar.specialite.specialite }}
														</span>
													{% endif %}
													
												</div>
											</div>
											
										</div>
									</div>
								</li>
								<li>
									<i class="fa fa-times-circle bg-danger pb-3"></i>
								</li>
							</ul>
						</div>
					{% endfor %}
					
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}