{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon profil{% endtrans %}{% endblock %}

{% block body %}
    <!-- Row starts -->
                <div class="row gx-3">
                  <div class="col-xxl-8 col-sm-12">
                    <div class="card mb-3 bg-4">
                      <div class="card-body mh-230">

                        <!-- Row starts -->
                        <div class="row gx-3">
                          <div class="col-sm-9">
                            <div class="text-white mt-3">
                              <h3>{{ profil.typeUtilisateur.typeUtilisateur }} {{ profil.nom }} </h3>
                              <h6>{% trans %}Département{% endtrans %} : {{ profil.specialite ? profil.specialite.specialite :"" }} </h6>
                              <h5>{{ profil.adresse }} / {{ profil.contact }} / {{ profil.email }} </h5>
                              <a href="{{ path ('editer_profil', {'pe': 1 })}}" class="btn btn-success mt-3">
                                {% trans %}Modifier mon profil{% endtrans %}
                              </a>
                              <a href="{{ path ('affichage_modification_mot_de_passe')}}" class="btn btn-danger mt-3">
                                {% trans %}Modifier mon mot de passe{% endtrans %}
                              </a>
                            </div>
                          </div>
                        </div>
                        <!-- Row ends -->

                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2 col-sm-6">
                    <div class="card mb-3">
                      <div class="card-body mh-230">

                        <!-- Card details start -->
                        <div>
                          <div class="d-flex flex-column align-items-center">
                            <div class="icon-box xl bg-danger-subtle rounded-5 mb-2 no-shadow">
                              <i class="ri-syringe-line fs-1 text-danger"></i>
                            </div>
                            <h1 class="text-danger">2</h1>
                            <h6>Surgeries</h6>
                            <span class="badge bg-danger">15% High</span>
                          </div>
                        </div>
                        <!-- Card details end -->

                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2 col-sm-6">
                    <div class="card mb-3">
                      <div class="card-body mh-230">

                        <!-- Card details start -->
                        <div>
                          <div class="d-flex flex-column align-items-center">
                            <div class="icon-box xl bg-success-subtle rounded-5 mb-2 no-shadow">
                              <i class="ri-money-dollar-circle-line fs-1 text-success"></i>
                            </div>
                            <h1 class="text-success">$650</h1>
                            <h6>Earnings</h6>
                            <span class="badge bg-success">25% High</span>
                          </div>
                        </div>
                        <!-- Card details end -->

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row ends -->
</div>
{% endblock %}
