{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edition de mon profil{% endtrans %}{% endblock %}

{% block body %}
	<div class="row gx-3">
		<div class="col-sm-12 mb-5">
			<div class="card mb-3">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h5 class="card-title">
					{% trans %}Edition du profil{% endtrans %}
					</h5>
				</div>
				<div class="card-body">
					{{ form_start(formUtilisateur, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
									
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Nom Complet{% endtrans %}</label>
									{{ form_widget(formUtilisateur.nom, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Nom de connexion{% endtrans %}</label>
									{{ form_widget(formUtilisateur.username, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Genre{% endtrans %}</label>
									{{ form_widget(formUtilisateur.genre, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
									<label class="form-label">Email</label>
									{{ form_widget(formUtilisateur.email, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Contact{% endtrans %}</label>
									{{ form_widget(formUtilisateur.contact, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Adresse{% endtrans %}</label>
									{{ form_widget(formUtilisateur.adresse, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Permis de conduire{% endtrans %}</label>
									{{ form_widget(formUtilisateur.categoriePermisDeConduire, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Numéro du permis de conduire{% endtrans %}</label>
									{{ form_widget(formUtilisateur.numeroPermisDeConduire, {'attr': {'id':'validationCustom04'}}) }}
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="form-label">{% trans %}Mot de passe{% endtrans %}</label>
									{{ form_widget(formUtilisateur.password, {'attr': {'id':'validationCustomUsername'}}) }}
									<div class="invalid-feedback">
										{{ form_errors(formUtilisateur.password)}}
									</div>
								</div>
							</div>
							{% if is_granted('ROLE_ADMINISTRATEUR') and pe == 0 %}
								<div class="col-md-4">
									<div class="form-group">
										<label class="form-label">{% trans %}Type personnel{% endtrans %}</label>
										{{ form_widget(formUtilisateur.typeUtilisateur, {'attr': {'id':'validationCustom04'}}) }}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="form-label">{% trans %}Département{% endtrans %}</label>
										{{ form_widget(formUtilisateur.specialite, {'attr': {'id':'validationCustom04'}}) }}
									</div>
								</div>
							{% endif %}

						</div>
					
						<div class="card-footer text-end">
							<a href="{{ path ('afficher_profil') }}" class="btn btn-outline-danger"><i class="fe fe-x-circle me-2"></i> {% trans %}Annuler{% endtrans %}</a>
							<button type="submit" class="btn btn-outline-primary"><i class="fe fe-save me-2"></i>{% trans %}Mettre à jour{% endtrans %}</button>
						</div>
					{{ form_end(formUtilisateur)}}
				</div>
							
			</div>
		</div>
	</div>
	<!-- End Row-->
</div>

{% endblock %}
