{% extends 'base.html.twig' %}

{% block title %}
	{% if billet is defined %}
		{% trans %}Billet(s) payé(s){% endtrans %}
	{% endif %}
	{% if carnet is defined %}
		{% trans %}Carnet(s) payé(s){% endtrans %}
	{% endif %}
	{% if echographie is defined %}
		{% trans %}Echographie(s) payée(s){% endtrans %}
	{% endif %}
	{% if examen is defined %}
		{% trans %}Examen(s) payé(s){% endtrans %}
	{% endif %}
	{% if kit is defined %}
		{% trans %}Kit(s) payé(s){% endtrans %}
	{% endif %}
	{% if radio is defined %}
		{% trans %}Radio(s) payéee(s){% endtrans %}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}

		.required-field{
            border: 3px solid red;
        }

        /*Animation de vibration*/
        @keyframes vibrate {
            0% { transform: translateX(0);}
            25% { transform: translateX(-2px);}
            50% { transform: translateX(2px);}
            75% { transform: translateX(-2px);}
            100% { transform: translateX(0);}
            
        }

        .vibrate{
            animation: vibrate 0.3s linear;
        }

        /*style pour les champs renseignés*/
        .filled-field{
            border: 2px solid green !important;
        }

		.quantite {
			width: 100px;
		}

		.btn-block {
			width: 70px;
		}
	</style>
{% endblock %}


{% block body %}
	 		<div class="row gx-3">
				<div class="col-sm-12 mb-5">
					{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SECRETAIRE')  %}
						<div class="card mb-3">
							<div class="card-header d-flex align-items-center justify-content-between">
								
								{% if seuil == 0 %}

									<a href="{{ path ('afficher_produits_perimes', {'a': 1}) }}" class="btn btn-outline-danger btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Produits périmés{% endtrans %}
									</a>

									<a href="{{ path ('afficher_produits_seuil', {'a': 1}) }}" class="btn btn-outline-danger btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Produits seuil{% endtrans %}
									</a>

								{% endif %}

								{% if seuil == 1 %}
									<a href="{{ path ('afficher_produits', {'a': 1}) }}" class="btn btn-outline-primary btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Afficher les produits{% endtrans %}
									</a>
									<a href="{{ path ('afficher_produits_perimes', {'a': 1}) }}" class="btn btn-outline-danger btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Afficher les produits périmés{% endtrans %}
									</a>
								{% endif %}

								{% if seuil == 2 %}
									<a href="{{ path ('afficher_produits', {'a': 1}) }}" class="btn btn-outline-primary btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Afficher les produits{% endtrans %}
									</a>
									<a href="{{ path ('afficher_produits_seuil', {'a': 1}) }}" class="btn btn-outline-danger btn-pill">
										<i class="ri-eye-line"></i> 
										{% trans %}Afficher les produits seuil{% endtrans %}
									</a>
								{% endif %}
							</div>
						</div>
					{% endif %}

					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							
							<h5 class="card-title">
								<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
									<span class="badge bg-white text-dark">{{ produits|length|number_format }}</span>
									{% if billet is defined %}
										<span> {% trans %}billet(s) payé(s){% endtrans %}</span>
									{% endif %}
									{% if carnet is defined %}
										<span> {% trans %}carnet(s) payé(s){% endtrans %}</span>
									{% endif %}
									{% if echographie is defined %}
										<span> {% trans %}echographie(s) payée(s){% endtrans %}</span>
									{% endif %}
									{% if examen is defined %}
										<span> {% trans %}examen(s) payé(s){% endtrans %}</span>
									{% endif %}
									{% if kit is defined %}
										<span> {% trans %}kit(s) payé(s){% endtrans %}</span>
									{% endif %}
									{% if radio is defined %}
										<span> {% trans %}radio(s) payée(s){% endtrans %}</span>
									{% endif %}
								</button>
							</h5>
							{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_SECRETAIRE')  %}
								{% if seuil == 0 %}
									<a href="{{ path ('ajouter_produit') }}" class="btn btn-primary ms-auto">
										<i class="ri-add-box-line"></i>
										{% trans %}Ajouter un produit{% endtrans %}
									</a>

									<a href="{{ path ('impression_produits') }}" class="btn btn-primary ms-auto" target="_blank">
										<i class="ri-printer-line"></i>
										{% trans %}Imprimer tous les produits{% endtrans %}
									</a>
								{% endif %}

								{% if seuil == 1 %}
									<a href="{{ path ('impression_produit_seuil') }}" target="_blank" class="btn btn-outline-danger btn-pill">
										<i class="ri-printer-line"></i>
										{% trans %}Imprimer les produits seuils{% endtrans %}
									</a>
								{% endif %}

								{% if seuil == 2 %}
									<a href="{{ path ('impression_produits_perimes') }}" target="_blank" class="btn btn-outline-danger btn-pill">
										<i class="ri-printer-line"></i>
										{% trans %}Imprimer les produits périmés{% endtrans %}
									</a>
								{% endif %}

							{% endif %}
								
						</div>
					<div class="card-body">
						<div class="table-responsive" id="table-responsive">
							<table id="basicExample" class="table m-0 table-hover align-middle">
                                <thead>
                                    <tr>
                                        <th>{% trans %}N°{% endtrans %}</th>
                                        <th>{% trans %}Patient{% endtrans %}</th>
                                        <th>{% trans %}Produit{% endtrans %}</th>
                                        <th>{% trans %}Prix{% endtrans %}</th>
                                        <th>{% trans %}Date{% endtrans %}</th>
                                        {% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
                                            <th>{% trans %}Opérations{% endtrans %}</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{% trans %}N°{% endtrans %}</th>
                                        <th>{% trans %}Patient{% endtrans %}</th>
                                        <th>{% trans %}Produit{% endtrans %}</th>
                                        <th>{% trans %}Prix{% endtrans %}</th>
                                        <th>{% trans %}Date{% endtrans %}</th>
                                        {% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
                                            <th>{% trans %}Opérations{% endtrans %}</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% set i = 1 %}
                                    {% for produit in produits %}
                                        
                                        <tr>
                                            <td><span class="tag tag-primary">{{ i }}</span></td>
                                            
                                            <td style="text-align: left !important;">
                                                <span class="tag tag-dark">{{ produit.facture.nomPatient }}</span><br>
                                                
                                            </td>
                                            <td>
                                                <span class="tag tag-primary">{{ produit.produit.libelle}}</span>
                                            </td>

                                            <td>
                                                <span class="tag tag-primary">{{ produit.produit.prixVente }} FCFA</span>
                                            </td>

                                            <td>
                                                <span class="tag tag-primary">{{ produit.facture.dateFactureAt|date('d-m-Y') }} {{ produit.facture.heure|date('H:i') }}</span>
                                            </td>
                                            
                                            <td>
                                                <div class="btn-group">
                                                    <a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Opérations{% endtrans %} <i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown-menu border-primary">
                                                        {% if is_granted('ROLE_CAISSIERE') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                                                            <a class="dropdown-item" href="{{ path('details_facture', {'slug': produit.facture.slug }) }}"><i class="ri-eye-line me-2"></i> Détails</a>
                                                            <a class="dropdown-item" href="{{ path('imprimer_facture', {'slug': produit.facture.slug }) }}" target="_blank"><i class="ri-printer-line me-2"></i> Imprimer la facture</a>
                                                            <a class="dropdown-item" href="{{ path('imprimer_historique_paiement', {'slug': produit.facture.slug }) }}" target="_blank"><i class="ri-printer-line me-2"></i> Imprimer l'historique de paiement</a>
                                                            {% if is_granted('ROLE_CAISSIERE') %}
                                                                {% if produit.facture.etatFacture.etatFacture == 'NON SOLDE' and produit.facture.annulee == 0 %}
                                                                    <a class="dropdown-item" href="{{ path('ajout_avance', {'slug': produit.facture.slug }) }}"><i class="fe fe-plus me-2"></i> Ajouter une avance</a>
                                                                    <a class="dropdown-item" href="{{ path('valider_facture', {'slug': produit.facture.slug }) }}"><i class="fe fe-check-circle me-2"></i> Solder la facture</a>
                                                                {% endif %}
                                                            {% endif %}

                                                        {% endif %}
                                                        
                                                        {% if produit.facture.annulee != 1 %}
                                                            {% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                                                                <a class="dropdown-item" href="javascript:void(0);"
                                                                    onclick="swal({
                                                                        'title': 'Attention', 
                                                                        'type': 'warning', 
                                                                        'text': 'Voulez-vous vraiment supprimer cette facture ?', 
                                                                        'showCancelButton': true, 
                                                                        'confirmButtonText': 'Oui', 
                                                                        'confirmButtonColor': '#f00', 
                                                                        'cancelButtonText': 'Non', 
                                                                        'cancelButtonColor': '#38cb89', 
                                                                        'confirmButtonPath': '{{ path('annuler_facture', {'slug': produit.facture.slug }) }} '});">
                                                                
                                                                <i class="ri-close-circle-line me-2"></i> Annuler la facture</a>
                                                            {% endif %}
                                                        {% endif %}
                                                        
                                                    </div>
                                                </div>
                                
                                            </td>
                                                
                                        </tr>
                                        {% set i = i + 1 %}
                                        
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
<script src="{{ asset ('js/ajoutProduitPanier.js')}}"></script>
<script src="{{ asset ('js/verificationQuantiteNegativeListeProduit.js')}}"></script>
<script src="{{ asset ('js/retireProduit.js')}}"></script>
{% endblock %}

