{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajout d'un personnel{% endtrans %}
        {% else %}
        {% trans %}Modification d'un personnel{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
        <!-- Row starts -->
            <div class="row gx-3">
                <div class="col-sm-12">
                    <div class="card border-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">
                                        {% if slug == 0 %}
                                            <i class="fe fe-user-plus me-2"></i> {% trans %}Enregistrement d'un utilisateur{% endtrans %}
                                            {% else %}
                                            <i class="fe fe-user-check me-2"></i> {% trans %}Modification d'un utilisateur{% endtrans %}
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col-md-6" style="text-align: right !important;">
                                    <a href="{{ path ('afficher_utilisateur', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                        {% trans %}Afficher le personnel{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <!-- Row starts -->
                            
                            {{ form_start(formUtilisateur, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                                <div class="row" style="margin-top: 15px !important;">
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom01" class="form-label">{% trans %}Nom de connexion{% endtrans %}<span class="text-danger">*</span></label>
                                        {{ form_widget(formUtilisateur.username, {'attr': {'id':'validationCustom01'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir un nom de connexion !{% endtrans %}
                                        </div>
                                    </div>

                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom01" class="form-label">{% trans %}Mot de passe{% endtrans %}<span class="text-danger">*</span></label>
                                        {{ form_widget(formUtilisateur.password, {'attr': {'id':'validationCustom01'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir un mot de passe !{% endtrans %}
                                        </div>
                                    </div>

                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom01" class="form-label">{% trans %}Nom complet{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.nom, {'attr': {'id':'validationCustom01'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir un nom !{% endtrans %}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row" style="margin-top: 15px !important;">
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Genre{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.genre, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez sélectionner un genre !{% endtrans %}
                                        </div>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Adresse{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.adresse, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir une adresse !{% endtrans %}
                                        </div>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Email{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.email, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir une adresse email !{% endtrans %}
                                        </div>
                                    </div>

                                    

                                    
                                </div>
                                <div class="row" style="margin-top: 15px !important;">  
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Contact{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.contact, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir un contact !{% endtrans %}
                                        </div>
                                    </div> 
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Type personnel{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.typeUtilisateur, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez sélectionner un type personnel !{% endtrans %}
                                        </div>
                                    </div>
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Département / Spécialité / Service{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.specialite, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez sélectionner une spécialité !{% endtrans %}
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="row" style="margin-top: 15px !important;"> 
                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Permis de conduire{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.categoriePermisDeConduire, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez sélectionner une catégorie !{% endtrans %}
                                        </div>
                                    </div>

                                    <div class="col-md-4 position-relative">
                                        <label for="validationCustom04" class="form-label">{% trans %}Numéro permis{% endtrans %}</label>
                                        {{ form_widget(formUtilisateur.numeroPermisDeConduire, {'attr': {'id':'validationCustom04'}}) }}

                                        <div class="invalid-feedback">
                                            {% trans %}Veuillez saisir le numéro du permis !{% endtrans %}
                                        </div>
                                    </div>

                                    <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                        <button type="submit" class="btn btn-outline-primary btn-md">
                                            <i class="fe fe-save"></i> 
                                            {% if slug == 0 %}
                                                {% trans %}Enregistrer{% endtrans %}
                                                {% else %}
                                                {% trans %}Enregistrer les modifications{% endtrans %}
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                                    
                            {{ form_end(formUtilisateur)}}
                            
                            <!-- Row ends -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
