    <!-- Row starts -->
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>{% trans %}Recettes du jour{% endtrans %} {{ "now"|date('d') }} {{ "now"|date('m')|mois_en_lettres }} {{ "now"|date('Y') }}</h5>
                <a href="{{ path ('impression_fiche_de_vente') }}" target="_blank" class="btn btn-outline-primary btn-pill">
                     <i class="ri-printer-fill me-2"></i>
                    {% trans %}Imprimer la fiche de vente{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/3.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3 fs-12">
                        {{ stats['billets']|number_format }} {% trans %}Billet(s){% endtrans %} 
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'billet'}) }}" class="btn btn-sm btn-info">{% trans %}Afficher les billets achetés{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/1.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3">
                        {{ stats['carnets']|number_format }} {% trans %}Carnet(s){% endtrans %}
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'carnet'}) }}" class="btn btn-sm btn-success">{% trans %}Afficher les carnets payés{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/2.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3">
                        {{ stats['echographies']|number_format }} {% trans %}Echographie(s){% endtrans %}
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'echographie'}) }}" class="btn btn-sm btn-danger">{% trans %}Afficher les échographies payées{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/2.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3">
                        {{ stats['examens']|number_format }} {% trans %}Examen(s){% endtrans %}
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'examen'}) }}" class="btn btn-sm btn-danger">{% trans %}Afficher les examens payés{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/3.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3 fs-12">
                        {{ stats['kits']|number_format }} {% trans %}Kit(s){% endtrans %} 
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'kit'}) }}" class="btn btn-sm btn-info">{% trans %}Afficher les kits payées{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/2.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3">
                        {{ stats['radios']|number_format }} {% trans %}Radios{% endtrans %}
                    </h3>
                    <a href="{{ path ('produits_caisse_payes', {'produitPaye': 'radio'}) }}" class="btn btn-sm btn-warning">{% trans %}Afficher les radios payées{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

    <!--Row-->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">{% trans %}Les factures du jour{% endtrans %}</h5>
                    <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                        <span class="badge bg-white text-dark">{{ factures | length }}</span>
                        <span>{% trans %}facture(s) enregistrée(s){% endtrans %}</span>
                    </button>
                    <a href="{{ path ('liste_facture')}}" class="btn btn-primary mt-1 mb-1 me-3">
                        <span>{% trans %}Afficher toutes mes factures{% endtrans %}</span>
                    </a>
                </div>
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        {% include "includes/_tableFactures.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>