 <!-- Row starts -->
            <div class="row">
				<div class="col-md-3">
					<div class="card mb-3">
						<div class="card-cover rounded-2" style="background-image: url('assets/images/products/3.jpg');">
							<div class="p-5 text-white">
								<h4 class="fw-lighter mb-3">
									{% trans %}Total Lots{% endtrans %} : <br>
									{{ lots|length|number_format }}
								</h4>
								<a href="#" class="btn btn-sm btn-info">Afficher</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card mb-3">
						<div class="card-cover rounded-2" style="background-image: url('assets/images/products/2.jpg');">
							<div class="p-5 text-white">
							<h4 class="fw-lighter mb-3">
								{% trans %}Produits{% endtrans %} : <br>
								{{ tousLesProduits|length - produitsPerimes|length|number_format }}
							</h4>
							<a href="#" class="btn btn-sm btn-info">Afficher</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card mb-3">
						<div class="card-cover rounded-2" style="background-image: url('assets/images/products/1.jpg');">
							<div class="p-5 text-white">
								<h4 class="fw-lighter mb-3">
									{% trans %}Périmés  bientôt{% endtrans %} : <br>
									{{ produitsBientotPerimes|length|number_format }}
								</h4>
								<a href="#" class="btn btn-sm btn-warning">Afficher</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card mb-3">
						<div class="card-cover rounded-2" style="background-image: url('assets/images/products/1.jpg');">
							<div class="p-5 text-white">
								<h4 class="fw-lighter mb-3">
									{% trans %}Périmés{% endtrans %} : <br>
									{{ produitsPerimes|length|number_format }}
								</h4>
								<a href="#" class="btn btn-sm btn-danger">Afficher</a>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Row ends -->

<!--Row-->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
				<div class="row">
					<div class="col-md-3">
						<h3 class="card-title"><i class="fa fa-cubes me-2"></i> {% trans %}Nos Produits{% endtrans %}</h3>
					</div>

					<div class="col-md-3">
						<button type="button" class="btn btn-outline-primary mt-1 mb-1 me-3">
							<span>{% trans %}Nombre de produits{% endtrans %}</span>
							<span class="badge  bg-primary rounded-pill">{{ tousLesProduits|length }}</span>
						</button>
					</div>

					<div class="col-md-3">
						{% if is_granted('ROLE_PHARMACIEN') %}
							<a href="{{ path ('ajouter_produit') }}" class="btn btn-outline-primary"><i class="fe fe-plus me-2"></i>
								{% trans %}Ajouter un produit{% endtrans %}
							</a>
						{% endif %}
					</div>
					<div class="col-md-3">
						<a href="{{ path ('impression_etat_stock') }}" target="_blank" class="btn btn-outline-primary btn-pill">
							<i class="fe fe-printer me-2 fs-14"></i> 
							{% trans %}Imprimer l'état du stock{% endtrans %}
						</a>
					</div>
				</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% include "includes/_tableProduits.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>
				