    <!-- Row starts -->
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>{% trans %}Les consultations du jour{% endtrans %} {{ "now"|date('d') }} {{ "now"|date('m')|mois_en_lettres }} {{ "now"|date('Y') }}</h5>
                <a href="javascript:void(0);" target="_blank" class="btn btn-outline-primary btn-pill">
                     <i class="ri-printer-fill me-2"></i>
                    {% trans %}Imprimer les consultations du jour{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/3.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3 fs-12">
                        {{ consultationsDuJourEnAttente|length|number_format }} {% trans %}Consultations(s) en attente{% endtrans %} 
                    </h3>
                    <a href="{{ path ('afficher_consultation', {'consultation': 'enAttente'}) }}" class="btn btn-sm btn-info">{% trans %}Afficher{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-3">
                <div class="card-cover rounded-2" style="background-image: url('assets/images/products/1.jpg');">
                    <div class="p-5 text-white">
                    <h3 class="mb-3">
                        {{ consultationsDuJourEffectuees|length|number_format }} {% trans %}Consultation(s) effectuée(s){% endtrans %}
                    </h3>
                    <a href="{{ path ('afficher_consultation', {'consultation': 'recues'}) }}" class="btn btn-sm btn-success">{% trans %}Afficher{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Row ends -->

    <!--Row-->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">{% trans %}Les consultations du jour{% endtrans %}</h5>
                    <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                        <span class="badge bg-white text-dark">{{ consultations | length|number_format }}</span>
                        <span>{% trans %}consultation(s) enregistrée(s){% endtrans %}</span>
                    </button>
                    <a href="{{ path ('afficher_consultation', {'consultation': 'toutes'})}}" class="btn btn-primary mt-1 mb-1 me-3">
                        <span>{% trans %}Afficher toutes les consultations{% endtrans %}</span>
                    </a>
                </div>
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        {% include "includes/_tableConsultation.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>