        <div class="row gx-3">
            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4 class="card-title text-primary">{% trans %}Recettes du jour{% endtrans %} : {{ aujourdhui|date('d-m-Y') }}</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-primary mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="">
                                <span class="fs-14">CASH</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCashDuJour }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCashDuJour }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-info mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="">
                                <span class="fs-14">{% trans %}CRÉDIT{% endtrans %}</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCreditDuJour }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCreditDuJour }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-success mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="text-justify">
                                <span>Total</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCashDuJour + nombreCreditDuJour }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCashDuJour + montantCreditDuJour }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4 class="card-title text-primary">{% trans %}Toutes les recettes{% endtrans %}</h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-primary mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="">
                                <span class="fs-14">CASH</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCash }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCash }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-info mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="">
                                <span class="fs-14">CRÉDIT</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCredit }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCredit }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6">
                <div class="card border-0 bg-success mb-3">
                    <div class="p-4 text-white">
                        <h2 class="display-6 fw-lighter">
                            <div class="">
                                <span class="fs-14">Total</span>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Nombre :{% endtrans %} {{ nombreCash + nombreCredit }}</h5>
                                <h5 class="mb-2 mt-1 number-font carn2 font-weight-bold">{% trans %}Recette :{% endtrans %} {{ montantCash + montantCredit }} FCFA</h5>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>