<!-- Row starts -->
            <div class="row gx-3">
                <div class="col-xl-12 col-sm-12">
                    <!-- Card starts -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="card-title">{% trans %}Recettes du jour{% endtrans %} : {{ aujourdhui|date('d-m-Y') }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <a href="{{ path ('liste_facture', {'solde': 1}) }}" class="btn btn-outline-primary">
                                        <i class="ri-money-dollar-circle-line"></i>
                                        {% trans %}Régler une facture{% endtrans %}
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="{{ path ('impression_fiche_de_vente') }}" target="_blank" class="btn btn-outline-primary btn-pill">
                                        <i class="ri-printer-line"></i>
                                        {% trans %}Imprimer la fiche de vente{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card ends -->
                </div>
            </div>
            
            <!-- Row starts -->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">
              <div class="col">
                <div class="card mb-3">
                  <div class="card-cover rounded-2" style="background-image: url('assets/images/products/3.jpg');">
                    <div class="p-5 text-white">
                      <h4 class="fw-lighter mb-3">
                        CASH <br>
                        Nombre : {{ nombreCashDuJour }} <br>
                        Recette : {{ montantCashDuJour }} FCFA
                      </h4>
                      <a href="#" class="btn btn-lg btn-info">Afficher</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card mb-3">
                  <div class="card-cover rounded-2" style="background-image: url('assets/images/products/1.jpg');">
                    <div class="p-5 text-white">
                      <h4 class="fw-lighter mb-3">
                        CREDIT <br>
                        Nombre : {{ nombreCreditDuJour }} <br>
                        Recette : {{ montantCreditDuJour }} FCFA
                      </h4>
                      <a href="#" class="btn btn-lg btn-success">Afficher</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card mb-3">
                  <div class="card-cover rounded-2" style="background-image: url('assets/images/products/2.jpg');">
                    <div class="p-5 text-white">
                      <h4 class="fw-lighter mb-3">
                        TOTAL <br>
                        Nombre :  {{ nombreCashDuJour + nombrePrisEnChargeDuJour + nombreCreditDuJour }} <br>
                        Recette : {{ montantCashDuJour + montantPrisEnChargeDuJour + montantCreditDuJour }} FCFA 
                      </h4>
                      <a href="#" class="btn btn-lg btn-danger">Afficher</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

            <!--Row-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card border-primary">
                        <div class="card-header">
                            <div class="row">
                            
                                <div class="col-md-4">
                                    <h3 class="card-title">{% trans %}Les factures du jours{% endtrans %}</h3>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                        
                                    <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                                        <span class="badge bg-white text-dark">{{ factures | length |number_format }}</span>
                                        <span>{% trans %}facture(s) enregistrée(s){% endtrans %}</span>
                                    </button>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                               {% include "includes/_tableFactures.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>