{% if app.user %}
    <!--app header-->
    <!-- App header starts -->
    <div class="app-header d-flex align-items-center">

        <!-- Toggle buttons starts -->
        <div class="d-flex">
            <button class="toggle-sidebar">
                <i class="ri-menu-line"></i>
            </button>
            <button class="pin-sidebar">
                <i class="ri-menu-line"></i>
            </button>
        </div>
        <!-- Toggle buttons ends -->

        <!-- App brand starts -->
        <div class="app-brand ms-3">
            <a href="javascript:void(0);" class="d-lg-block d-none" style="font-weight: bold; font-size: 25px; text-align:center; color: #ffffff !important; ">
                <img src="{{ asset ('assets/images/logoLucelle.jpg') }}" class="logo" alt="logo Lucelle">
                Centre de Santé Privé Lucelle                      
            </a>
            <a href="javascript:void(0);" class="d-lg-none d-md-block">
                <img src="{{ asset ('assets/images/logoLucelle.jpg') }}" class="logo" alt="logo Lucelle">
            </a>
        </div>
        <!-- App brand ends -->

        <!-- App header actions starts -->
        <div class="header-actions">
            <!-- Search container starts -->
            <div class="search-container d-lg-block d-none mx-3">
                <input type="text" class="form-control" id="searchId" placeholder="Chercher">
                <i class="ri-search-line"></i>
            </div>
            <!-- Search container ends -->

            <!-- Header actions starts -->
            <div class="d-lg-flex d-none gap-2">

                {% if is_granted('ROLE_CAISSIERE') %}
                    
                    <div class="dropdown">

                        <a href="{{ path('panier_afficher')}}" class="dropdown-toggle header-icon" type="button" class="btn btn-outline-success position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                            <span id="nombreProduitPanier" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                {% if app.session.get('nombreProduits') != 0 %}
                                    {{ app.session.get('nombreProduits') }}
                                    {% else %}
                                        0
                                {% endif %}
                            </span>
                        </a>

                    </div>
                    <span class="fs-14 font-weight-bold text-white"> 	
                    </span>
                    <span class="header-avatar1">
                        <span id="totalApayerPatient" class="fs-14 font-weight-semibold text-white"> 	
                        
                            Total : {{ app.session.get('totalApayer')|number_format }} FCFA
                        
                        </span>
                    </span>
                {% endif %}


                <!-- Select country dropdown starts -->
                <div class="dropdown">
                    
                    <a class="dropdown-toggle header-icon" href="#!" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% if app.request.locale == 'fr' %}
                            <img src="{{ asset ('assets/images/flags/1x1/fr.svg')}}" class="header-country-flag" alt="Bootstrap Dashboards">
                            {% elseif app.request.locale == 'en' %}
                            <img src="{{ asset ('assets/images/flags/1x1/gb.svg')}}" class="header-country-flag" alt="Bootstrap Dashboards">
                        {% endif %}
                    </a>

                    
                    <div class="dropdown-menu dropdown-menu-end dropdown-mini">
                        
                        <div class="country-container">
                            {% for locale in locales %}   
                                {% if locale == 'fr' %}
                                    <a href="{{ path ('changer_langue', {'locale': locale}) }}" class="py-2">
                                        <img src="{{ asset ('assets/images/flags/1x1/fr.svg')}}" alt="Google Admin">
                                    </a>
                                {% endif %}

                                {% if locale == 'en' %}
                                    <a href="{{ path ('changer_langue', {'locale': locale}) }}" class="py-2">
                                        <img src="{{ asset ('assets/images/flags/1x1/gb.svg')}}" alt="Google Admin">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <!-- Select country dropdown ends -->

                <!-- Notifications dropdown starts -->
                <div class="dropdown">
                    <a class="dropdown-toggle header-icon" href="#!" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ri-list-check-3"></i>
                        <span class="count-label warning"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-300">
                        <h5 class="fw-semibold px-3 py-2 text-primary">{% trans %}Activités{% endtrans %}</h5>

                        <!-- Scroll starts -->
                        <div class="scroll300">

                            <!-- Activity List Starts -->
                            <div class="p-3">
                                <ul class="p-0 activity-list2">
                                <li class="activity-item pb-3 mb-3">
                                    <a href="#!">
                                    <h5 class="fw-regular">
                                        <i class="ri-circle-fill text-danger me-1"></i>
                                        Invoices.
                                    </h5>
                                    <div class="ps-3 ms-2 border-start">
                                        <div class="d-flex align-items-center mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="{{ asset ('assets/images/products/1.jpg')}}" class="img-shadow img-3x rounded-1"
                                            alt="Hospital Admin Templates">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            23 invoices have been paid to the MediCare Labs.
                                        </div>
                                        </div>
                                        <p class="m-0 small">10:20AM Today</p>
                                    </div>
                                    </a>
                                </li>
                                <li class="activity-item pb-3 mb-3">
                                    <a href="#!">
                                    <h5 class="fw-regular">
                                        <i class="ri-circle-fill text-info me-1"></i>
                                        Purchased.
                                    </h5>
                                    <div class="ps-3 ms-2 border-start">
                                        <div class="d-flex align-items-center mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="{{ asset ('assets/images/products/2.jpg')}}" class="img-shadow img-3x rounded-1"
                                            alt="Hospital Admin Templates">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            28 new surgical equipments have been purchased.
                                        </div>
                                        </div>
                                        <p class="m-0 small">04:30PM Today</p>
                                    </div>
                                    </a>
                                </li>
                                <li class="activity-item pb-3 mb-3">
                                    <a href="#!">
                                    <h5 class="fw-regular">
                                        <i class="ri-circle-fill text-success me-1"></i>
                                        Appointed.
                                    </h5>
                                    <div class="ps-3 ms-2 border-start">
                                        <div class="d-flex align-items-center mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="{{ asset ('assets/images/products/8.jpg')}}" class="img-shadow img-3x rounded-1"
                                            alt="Hospital Admin Templates">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            36 new doctors and 28 staff members appointed.
                                        </div>
                                        </div>
                                        <p class="m-0 small">06:50PM Today</p>
                                    </div>
                                    </a>
                                </li>
                                <li class="activity-item">
                                    <a href="#!">
                                    <h5 class="fw-regular">
                                        <i class="ri-circle-fill text-warning me-1"></i>
                                        Requested
                                    </h5>
                                    <div class="ps-3 ms-2 border-start">
                                        <div class="d-flex align-items-center mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="{{ asset ('assets/images/products/9.jpg')}}" class="img-shadow img-3x rounded-1"
                                            alt="Hospital Admin Templates">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            Requested for 6 new vehicles for medical emergency. .
                                        </div>
                                        </div>
                                        <p class="m-0 small">08:30PM Today</p>
                                    </div>
                                    </a>
                                </li>
                                </ul>
                            </div>
                            <!-- Activity List Ends -->

                        </div>
                        <!-- Scroll ends -->

                        <!-- View all button starts -->
                        <div class="d-grid m-3">
                            <a href="javascript:void(0)" class="btn btn-primary">{% trans %}Tout afficher{% endtrans %}</a>
                        </div>
                        <!-- View all button ends -->

                    </div>
                </div>
                <!-- Notifications dropdown ends -->

                <!-- Messages dropdown starts -->
                <div class="dropdown">
                    <a class="dropdown-toggle header-icon" href="#!" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ri-message-3-line"></i>
                        <span class="count-label"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-300">
                        <h5 class="fw-semibold px-3 py-2 text-primary">Messages</h5>

                        <!-- Scroll starts -->
                        <div class="scroll300">

                            <!-- Messages list starts -->
                            <div class="p-3">
                                <div class="d-flex py-2">
                                    <img src="{{ asset ('assets/images/user3.png')}}" class="img-shadow img-3x me-3 rounded-5"
                                    alt="Hospital Admin Templates">
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Nick Gonzalez</h6>
                                        <p class="mb-1">
                                        Appointed as a new President 2014-2025
                                        </p>
                                        <p class="small m-0 opacity-50">Today, 07:30pm</p>
                                    </div>
                                </div>
                                <div class="d-flex py-2">
                                    <img src="{{ asset ('assets/images/user1.png')}}" class="img-shadow img-3x me-3 rounded-5"
                                    alt="Hospital Admin Templates">
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Clyde Fowler</h6>
                                        <p class="mb-1">
                                        Congratulate, James for new job.
                                        </p>
                                        <p class="small m-0 opacity-50">Today, 08:00pm</p>
                                    </div>
                                </div>
                                <div class="d-flex py-2">
                                    <img src="{{ asset ('assets/images/user4.png')}}" class="img-shadow img-3x me-3 rounded-5"
                                    alt="Hospital Admin Templates">
                                    <div class="m-0">
                                        <h6 class="mb-1 fw-semibold">Sophie Michiels</h6>
                                        <p class="mb-1">
                                        Lewis added new doctors training schedule.
                                        </p>
                                        <p class="small m-0 opacity-50">Today, 09:30pm</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Messages list ends -->

                        </div>
                        <!-- Scroll ends -->

                        <!-- View all button starts -->
                        <div class="d-grid m-3">
                            <a href="javascript:void(0)" class="btn btn-primary">{% trans %}Tout afficher{% endtrans %}</a>
                        </div>
                        <!-- View all button ends -->
                    </div>
                </div>

            </div>
            <!-- Header actions ends -->

            <!-- Header user settings starts -->
            <div class="dropdown ms-2">
                <a id="userSettings" class="dropdown-toggle d-flex align-items-center" href="#!" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="avatar-box">{% trans %}Vous{% endtrans %}
                        <span class="count-label success"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow-lg">
                    <div class="px-3 py-2">
                        <span class="small">{{ app.user.username }}</span>
                        <h6 class="m-0">{{ app.user.nom }}</h6>
                    </div>
                    <div class="mx-3 my-2 d-grid">
                        <a href="{{ path ('afficher_profil') }}" class="btn btn-secondary btn-sm">{% trans %}Mon profil{% endtrans %}</a>
                    </div>
                    <div class="mx-3 my-2 d-grid">
                        <a href="{{ path ('affichage_modification_mot_de_passe') }}" class="btn btn-secondary btn-sm">{% trans %}Mot de passe{% endtrans %}</a>
                    </div>
                    <div class="mx-3 my-2 d-grid">
                        <a href="{{ path ('app_logout') }}" class="btn btn-danger btn-sm">{% trans %}Déconnexion{% endtrans %}</a>
                    </div>
                </div>
            </div>
            <!-- Header user settings ends -->
        </div>
        <!-- App header actions ends -->

    </div>
    <!-- App header ends -->
    <!--/app header-->
{% endif %}