
	<!-- Sidebar wrapper starts -->
	<nav id="sidebar" class="sidebar-wrapper">

		<!-- Sidebar profile starts -->
		<div class="sidebar-profile">
			<img src="{{ asset ('assets/images/logoLucelle.png') }}" class="img-shadow img-3x me-3 rounded-5" alt="Hospital Admin Templates">
			<div class="m-0">
			<h5 class="mb-1 profile-name text-nowrap text-truncate">{{ app.user.nom }}</h5>
			<p class="m-0 small profile-name text-nowrap text-truncate">{{ app.user.typeUtilisateur.typeUtilisateur }}</p>
			</div>
		</div>
		<!-- Sidebar profile ends -->

		<!-- Sidebar menu starts -->
		<div class="sidebarMenuScroll">
			<ul class="sidebar-menu">
				<li class="active current-page">
					<a href="{{ path ('accueil')}}">
					<i class="ri-home-6-line"></i>
					<span class="menu-text">{% trans %}Accueil{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('resultats_examen', {'resultatExamen': 'examensFaits'})}}">
					<i class="ri-stethoscope-line"></i>
					<span class="menu-text">{% trans %}Les examens faits{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('resultats_examen', {'resultatExamen': 'pasEncoreFaits'})}}">
					<i class="ri-stethoscope-line"></i>
					<span class="menu-text">{% trans %}Les examens en attente{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('resultats_examen', {'resultatExamen': 'tousLesExamens'})}}">
					<i class="ri-stethoscope-line"></i>
					<span class="menu-text">{% trans %}Tous les examens{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="ri-stethoscope-line"></i>
					<span class="menu-text">{% trans %}Historique des examen{% endtrans %}</span>
					</a>
				</li>
			
			</ul>
		</div>
		<!-- Sidebar menu ends -->

		{% include "includes/_urgence.html.twig" %}

	</nav>
	<!-- Sidebar wrapper ends -->

					