
	<!-- Sidebar wrapper starts -->
	<nav id="sidebar" class="sidebar-wrapper">

		<!-- Sidebar profile starts -->
		<div class="sidebar-profile">
			<img src="{{ asset ('assets/images/user6.png') }}" class="img-shadow img-3x me-3 rounded-5" alt="Hospital Admin Templates">
			<div class="m-0">
			<h5 class="mb-1 profile-name text-nowrap text-truncate">{{ app.user.nom }}</h5>
			<p class="m-0 small profile-name text-nowrap text-truncate">{{ app.user.typeUtilisateur.typeUtilisateur }}</p>
			</div>
		</div>
		<!-- Sidebar profile ends -->

		<!-- Sidebar menu starts -->
		<div class="sidebarMenuScroll">
			<ul class="sidebar-menu">
				<li class="active current-page">
					<a href="{{ path ('accueil')}}">
					<i class="ri-home-6-line"></i>
					<span class="menu-text">{% trans %}Tableau de bord{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'billet'})}}">
						<i class="ri-file-line"></i>
						<span class="menu-text">{% trans %}Billets de session{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'carnet'})}}">
					<i class="ri-book-open-line"></i>
					<span class="menu-text">{% trans %}Les carnets{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'echographie'})}}">
					<i class="ri-microscope-line"></i>
					<span class="menu-text">{% trans %}Les échographies{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'examen'})}}">
					<i class="ri-microscope-line"></i>
					<span class="menu-text">{% trans %}Les examens{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'kit'})}}">
					<i class="ri-notion-fill"></i>
					<span class="menu-text">{% trans %}Les kits{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('afficher_produits', {'caisse': 'radio'})}}">
					<i class="ri-microscope-line"></i>
					<span class="menu-text">{% trans %}Les radios{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path ('liste_facture')}}">
					<i class="ri-file-copy-2-line"></i>
					<span class="menu-text">{% trans %}Les factures{% endtrans %}</span>
					</a>
				</li>
				
			
			</ul>
		</div>
		<!-- Sidebar menu ends -->
		{% include "includes/_urgence.html.twig" %}
	</nav>
	<!-- Sidebar wrapper ends -->
	