<table id="basicExample" class="table m-0 table-hover align-middle">
	<thead>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Rétirer des Etagères{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE_ACCUEIL') or is_granted('ROLE_CAISSIERE_PHARMACIE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Quantité{% endtrans %}</th>
				<th class="text-end">{% trans %}Ajout panier{% endtrans %}</th>
			{% endif %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans %}N°{% endtrans %}</th>
			<th>{% trans %}Produits{% endtrans %}</th>
			<th>{% trans %}Prix{% endtrans %}</th>
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_SECRETAIRE') %}
				<th>{% trans %}Rétirer des Etagères{% endtrans %}</th>
			{% endif %}
			{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_CAISSIERE_ACCUEIL') or is_granted('ROLE_CAISSIERE_PHARMACIE') or is_granted('ROLE_PHARMACIEN')  %}
				<th>{% trans %}Quantité{% endtrans %}</th>
				<th class="text-end">{% trans %}Ajout panier{% endtrans %}</th>
			{% endif %}
		</tr>
	</tfoot>
	<tbody>
		{% set i = 1 %}
		{% for produit in produits %}
			
				<tr>
					<td><span class="tag tag-primary">{{ i }}</span></td>
					
					<td style="text-align: left !important;">
						<span class="tag tag-dark">{{ produit.libelle }}</span><br>
						
					</td>
					<td>
						<span class="tag tag-primary">{{ produit.prixVente|number_format }} FCFA</span>
					</td>
					
					{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_PHARMACIEN') %}
				
						<td>
							<div class="form-group">
								<label class="custom-switch">
									<input type="checkbox" class="custom-switch-input" data-id="{{ produit.id }}" {% if produit.retire %}checked{% endif %} >
									<span class="custom-switch-indicator custom-switch-indicator-lg"></span>
								</label>
							</div>
						</td>
					{% endif %}
					{# <form action="{{ path ('ajout_produit_panier', {'slug': produit.slug, 'position': 'listeProduit' } )}}" method="post" class="needs-validation" novalidate> #}
					
					<td colspan="2">
						{% if is_granted('ROLE_CAISSIERE_ACCUEIL') or is_granted('ROLE_CAISSIERE_PHARMACIE')  %}
								<div style="display: flex !important; justify-content: space-between !important;">
									<input type="hidden" id="typeProduit" value="produit">
									<input type="number" value="1" min="1" step="1" class="form-control text-center quantite" id="validationCustom05" required="required" placeholder="Veuillez saisir la quantité">
									<button class="btn btn-outline-primary btn-md btn-block ajout-produit-panier" data-produit-id="{{ produit.id }}" data-bs-toggle="tooltip" title="{% trans %}Ajouter{% endtrans %} {{ produit.libelle }} {% trans %}dans la facture{% endtrans %}">
										<i class="ri-add-circle-line"></i>
									</button>
								</div>
	
						{% endif %}
						{# </form> #}
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							<a href="{{ path ('modifier_produit', {'slug': produit.slug })}}" 
								class="btn btn-outline-primary btn-sm rounded-5" 
								data-bs-toggle="tooltip" title="{% trans %}Modifier{% endtrans %} {{ produit.libelle }}">
								<i class="ri-edit-box-line"></i>
							</a>
							
						{% endif %}
						
						{% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
							
								<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
									data-bs-toggle="tooltip" title="{% trans %}Supprimer{% endtrans %} {{ produit.libelle }}"
									onclick="swal({
										'title': 'Attention', 
										'type': 'warning', 
										'text': 'Voulez-vous vraiment supprimer ce produit ?', 
										'showCancelButton': true, 
										'confirmButtonText': 'Oui', 
										'confirmButtonColor': '#f00', 
										'cancelButtonText': 'Non', 
										'cancelButtonColor': '#38cb89', 
										'confirmButtonPath': '{{ path ('supprimer_produit', {'slug': produit.slug })}} '});">
			
									<i class="ri-delete-bin-line"></i>
								</a>
				
						{% endif %}

					</td>
						
				</tr>
				{% set i = i + 1 %}
			
		{% endfor %}
		
	</tbody>
</table>
