<table id="basicExample" class="table m-0 table-hover table-striped align-middle">
							<thead>
								<tr>
									<th>{% trans %}N°{% endtrans %}</th>
									<th>{% trans %}Photo{% endtrans %}</th>
									<th>{% trans %}Caissière{% endtrans %}</th>
									<th>{% trans %}Recette{% endtrans %}</th>
									<th>{% trans %}Mode paiement{% endtrans %}</th>
									<th>{% trans %}Nombre{% endtrans %}</th>
									<th>{% trans %}Opérations{% endtrans %}</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>{% trans %}N°{% endtrans %}</th>
									<th>{% trans %}Photo{% endtrans %}</th>
									<th>{% trans %}Caissière{% endtrans %}</th>
									<th>{% trans %}Recette{% endtrans %}</th>
									<th>{% trans %}Mode paiement{% endtrans %}</th>
									<th>{% trans %}Nombre{% endtrans %}</th>
									<th>{% trans %}Opérations{% endtrans %}</th>
								</tr>
							</tfoot>
							<tbody>
								{% set i = 1 %}
								{% for recette in recettes %}
									<tr>
										<td>{{ i }}</td>
										<td>
											<img class="img-shadow img-2x rounded-5 me-1" src="{{ recette.PHOTO ? asset('images/photoUsers/' ~ recette.PHOTO) : asset('images/photoUsers/user.png')}}" alt="{{ recette.CAISSIERE }}">
											
										</td>

										<td>
											<a class="font-weight-normal1" href="">{{ recette.CAISSIERE }}</a>
										</td>
										<td>
											<a class="font-weight-normal1" href="">{{ recette.SOMME }} FCFA</a>
										</td>
										<td>
											{% if recette.PAIEMENT == 'CASH' %}
												<span class="badge bg-success border-primary fs-11">{{ recette.PAIEMENT }}</span>
												{% else %}
												{% if recette.PAIEMENT == 'CRÉDIT' %}
													<span class="badge bg-danger border-danger fs-11">{{ recette.PAIEMENT }}</span>
													{% else %}
													<span class="badge bg-primary border-primary fs-11">{{ recette.PAIEMENT }}</span>
												
												{% endif %}
											{% endif %}
										</td>

										<td>
											<a class="font-weight-normal1" href="">{{ recette.NOMBRE }} </a>
										</td>
										
										<td>
											<a href="{{ path ('impression_fiche_de_vente', {'recette': recette.id }) }}" target="_blank" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="{% trans %}Imprimer{% endtrans %}">
												<i class="ri-printer-line me-2"></i>{% trans %}Imprimer{% endtrans %}
											</a>
										</td>
									</tr>
									{% set i = i + 1 %}
								{% endfor %}
								
								
							</tbody>
						</table>