
<table id="basicExample" class="table m-0 table_striped table-hover align-middle">
    <thead>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Symtomes{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Diagnostics{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Date{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Etat{% endtrans %}
            </th>

            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
           <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Symtomes{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Diagnostics{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Date{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Etat{% endtrans %}
            </th>

            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
            
        </tr>
    </tfoot>
    <tbody>
        {% set i = 1 %}
        {% for consultationDuJour in consultations %}
            <tr>
                <td class="infoTable">
                    <span class="badge bg-primary rounded-pill">{{ i }}</span>
                </td>
                <td class="infoTable">
                    {{ consultationDuJour.parametresVitaux.billetDeSession.patient.nom }} <br>
                    Par : {{ consultationDuJour.parametresVitaux.billetDeSession.caissiere ? consultationDuJour.parametresVitaux.billetDeSession.caissiere.nom : " " }}
                </td>

                <td class="infoTable">
                    {{ consultationDuJour.symptomes }}
                </td>

                <td class="infoTable">
                    {{ consultationDuJour.diagnostic }}
                </td>

                <td class="infoTable">
                    {{ consultationDuJour.dateConsultationAt ? consultationDuJour.dateConsultationAt|date('d') : "" }} 
                    {{ consultationDuJour.dateConsultationAt ? consultationDuJour.dateConsultationAt|date('m')|mois_en_lettres : "" }} 
                    {{ consultationDuJour.dateConsultationAt ? consultationDuJour.dateConsultationAt|date('Y') : "" }} / 
                    {{ consultationDuJour.heureConsultationAt ? consultationDuJour.heureConsultationAt|date('H:i') : "" }} 

                </td>
                
                <td class="infoTable">
                    {% if consultationDuJour.dateConsultationAt %}
                        <span class="badge bg-success mt-2">{% trans %}Consulté(e){% endtrans %}</span>
                        {% else %}
                        <span class="badge bg-danger mt-2">{% trans %}Pas encore consulté(e){% endtrans %}</span>
                    {% endif %}
                </td>
                <td class="infoTable">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Opérations{% endtrans %} <i class="fa fa-angle-down"></i></a>
						<div class="dropdown-menu border-primary">
                            
                            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-line me-2"></i> {% trans %}Détails{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer l'historique{% endtrans %}</a>
                            <a class="dropdown-item" href="{{ path ('modifier_consultation', {'slug': consultationDuJour.slug }) }}"><i class="ri-stethoscope-line me-2"></i> {% trans %}Consulter{% endtrans %}</a>
                            
                        </div>
                    </div>

                </td>
                
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    </tbody>
</table>