
<table id="basicExample" class="table m-0 table_striped table-hover align-middle">
    <thead>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Examens{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Medecin{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Date Pres.{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Réalisé{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Date résultat{% endtrans %}
            </th>
            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Examens{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Medecin{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Date Pres.{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Fichiers{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Date résultat{% endtrans %}
            </th>
            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% set i = 1 %}
        {% for examensDuJour in examens %}
            <tr>
                <td class="infoTable">
                    <span class="badge bg-primary rounded-pill">{{ i }}</span>
                </td>

                <td class="infoTable">
                    {{ examensDuJour.billetDeSession ? examensDuJour.billetDeSession.patient.nom : examensDuJour.patient.nom}} <br>
                </td>

                <td class="infoTable">
                    {% for examenAFaire in examensDuJour.listeExamensAFaires %}
                        {{ examenAFaire.examen.libelle }} 
                        {% if not loop.last %}, <br> 
                        {% endif %}
                        {% else %}
                        {% trans %}Aucun examen{% endtrans %}
                    {% endfor %}

                    {% if examensDuJour.realise %}
                        <span class="badge bg-success mt-2">{% trans %}Fait{% endtrans %}</span>
                        {% else %}
                        <span class="badge bg-danger mt-2">{% trans %}Pas encore fait{% endtrans %}</span>
                    {% endif %}
                </td>

                <td class="infoTable">
                    {% set medecin = "" %}
                    {% if examensDuJour.billetDeSession %}
                        {% for parametreVital in examensDuJour.billetDeSession.parametresVitauxes %}
                            {% for consultation in parametreVital.consultations %}
                                {% set medecin = consultation.medecin.nom %}
                            {% endfor %}
                        {% endfor %}  
                    {% endif %}

                    {{ medecin }}
                </td>

                <td class="infoTable">
                    {{ examensDuJour.datePrescriptionAt ? examensDuJour.datePrescriptionAt|date('d') : "" }} 
                    {{ examensDuJour.datePrescriptionAt ? examensDuJour.datePrescriptionAt|date('m')|mois_en_lettres : "" }} 
                    {{ examensDuJour.datePrescriptionAt ? examensDuJour.datePrescriptionAt|date('Y') : "" }}  
                </td>
                
                <td class="infoTable">
                    {% if examensDuJour.realise and examensDuJour.fichierResultatExamens|length > 0 %}
                        <div class="d-inline-flex gap-1">
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#viewReportsModal{{ examensDuJour.id }}">
                            {% trans %}Afficher les résultats{% endtrans %}
                            </button>
                            <a href="{{ path ('fichier_examen', {'slug': examensDuJour.slug }) }}" target="_blank" class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="Télécharger le raport">
                            <i class="ri-file-download-line"></i>
                            </a>
                        </div>

                        
                        {% else %}
                        <div class="d-inline-flex gap-1">
                            <button class="btn btn-danger btn-sm" disabled>
                            {% trans %}Afficher les résultats{% endtrans %}
                            </button>
                            <button class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="Pas encore dispinible" disabled>
                            <i class="ri-file-download-line"></i>
                            </button>
                        </div>
                    {% endif %}
                </td>

                <td class="infoTable">
                    {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('d') : "" }} 
                    {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('m')|mois_en_lettres : "" }} 
                    {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('Y') : "" }}
                </td>

                <td class="infoTable">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Options{% endtrans %} <i class="fa fa-angle-down"></i></a>
						<div class="dropdown-menu border-primary">
                            
                            <a class="dropdown-item" href="{{ path ('details_resultats_examen', {'slug': examensDuJour.slug }) }}"><i class="ri-eye-line me-2"></i> {% trans %}Détails{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer l'historique{% endtrans %}</a>
                            {% if is_granted('ROLE_LABORANTIN') %}
                                <a class="dropdown-item" href="{{ path ('envoyer_resultat', {'slug': examensDuJour.slug }) }}"><i class="ri-stethoscope-line me-2"></i> {% trans %}Envoyer les résultats{% endtrans %}</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </td>
                
            </tr>

            <!-- Modal View All Reports -->
            <div class="modal fade" id="viewReportsModal{{ examensDuJour.id }}" tabindex="-1" aria-labelledby="viewReportsModalLabel1"
            aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewReportsModalLabel1">
                                <a href="{{ path ('fichier_examen', {'slug': examensDuJour.slug }) }}" target="_blank" class="btn btn-primary btn-sm" >
                                    {{ examensDuJour.fichierResultatExamens|length|number_format }}
                                    {% trans %}résultat(s), Tout télécharger{% endtrans %}
                                </a>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!-- Row starts -->
                            <div class="row g-3">

                                {% for fichier in examensDuJour.fichierResultatExamens %}
                                    <div class="col-sm-2">
                                        <a href="{{ asset ('fichiersExamens/' ~ fichier.fichierResultat)}}" target="_blank" class="d-flex flex-column bg-light p-2 rounded-2 text-center" data-bs-toggle="tooltip" data-bs-placement="bottom"
                      data-bs-custom-class="custom-tooltip-danger"
                      data-bs-title={{ fichier.nomFichier }}">
                                            {# <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards"> #}
                                            
                                            {% set extension = fichier.nomFichier|split('.')|last|lower %}
                                            {% if extension == 'pdf' %}
                                                <img src="{{ asset ('assets/images/pdf.png')}}" alt="pdf" width="150" heigth="150">
                                            {% endif %}

                                            {% if extension in ['png', 'jpeg', 'jpg'] %}
                                                <img src="{{ asset ('assets/images/image.jpg')}}" alt="image" width="200" heigth="200">
                                            {% endif %}
                                            
                                            <h6 class="mt-3 mb-1 text-truncate">{{ fichier.nomFichier }}</h6>
                                            <p class="m-0 small">
                                                {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('d') : "" }} 
                                                {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('m')|mois_en_lettres : "" }} 
                                                {{ examensDuJour.dateResultatAt ? examensDuJour.dateResultatAt|date('Y') : "" }}  
                                            </p>
                                        </a>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <!-- Row ends -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal View Single Report -->
            <div class="modal fade" id="viewReportsModal2" tabindex="-1" aria-labelledby="viewReportsModalLabel2"
            aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewReportsModalLabel2">
                            <div class="d-flex align-items-center">
                                <a href="#!" class="btn btn-sm btn-outline-primary me-2" data-bs-target="#viewReportsModal1"
                                data-bs-toggle="modal">
                                <i class="ri-arrow-left-wide-fill"></i>
                                </a>
                                Clinical Report
                            </div>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!-- Row starts -->
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <a href="#" class="d-flex flex-column bg-light p-2 rounded-2 text-center">
                                    <img src="{{ asset ('assets/images/report.svg') }}" class="img-fluid rounded-2" alt="Medical Dashboards">
                                    <h6 class="mt-3 mb-1 text-truncate">Clinical Report</h6>
                                    <p class="m-0 small">10/05/2024</p>
                                    </a>
                                </div>
                            </div>
                            <!-- Row ends -->

                        </div>
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </tbody>
</table>