<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h5 class="card-title">
                    <button type="button" class="btn btn-primary mt-1 mb-1 me-3">
                        <span class="badge bg-white text-dark">{{ patients|length|number_format }}</span>
                        <span> {% trans %}patient(s) enregistré(s){% endtrans %}</span>
                    </button>
                </h5>
            </div>
            <div class="col-md-5 text-center">
                <form method="post" action="" class="row g-3 needs-validation" novalidate>
                    <div class="col-md-4 position-relative">
                        <input type="date" name="dateDebut" id="date_debut" class="form-control" id="validationCustom01">
                        <div class="invalid-feedback">
                            {% trans %}Veuillez siair la date de début{% endtrans %}
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <input type="date" name="dateFin" id="date_fin" class="form-control" id="validationCustom01">
                        <div class="invalid-feedback">
                            {% trans %}Veuillez saisir la date de fin{% endtrans %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-primary" id="btnImprimer" type="submit" name="afficher"><i class="si si-eye me-2"></i>{% trans %}Afficher{% endtrans %}</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-end">
                    <a href="{{ path ('ajouter_patient') }}" class="btn btn-primary ms-auto">{% trans %}Ajouter un patient{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Table starts -->
        <div class="table-responsive">
            <table id="basicExample" class="table truncate m-0 table-hover align-middle">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>{% trans %}Patient{% endtrans %}</th>
                        <th>{% trans %}Genre{% endtrans %}</th>
                        {# <th>{% trans %}Âge{% endtrans %}</th> #}
                        <th>{% trans %}Contact{% endtrans %}</th>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>{% trans %}Patient{% endtrans %}</th>
                        <th>{% trans %}Genre{% endtrans %}</th>
                        {# <th>{% trans %}Âge{% endtrans %}</th> #}
                        <th>{% trans %}Contact{% endtrans %}</th>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% set i = 1 %}
                    {% for patient in patients %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ patient.code }}</td>
                            <td style="text-align: left !important;">
                                {{ patient.nom }}
                            </td>
                            <td>
                                {% if patient.genre ? patient.genre.genre == "M" : "" %}
                                    <span class="badge bg-info-subtle text-info">{% trans %}Masculin{% endtrans %}</span>
                                    {% else %}
                                    <span class="badge bg-warning-subtle text-warning">{% trans %}Féminin{% endtrans %}</span>
                                {% endif %}
                            </td>
                            {# <td>{{ patient.dateNaissanceAt ? patient.dateNaissanceAt|age : 0 }} {% trans %}ans{% endtrans %}</td>  #}
                            <td>
                                {{ patient.telephone }}
                            </td>
                            <td>{{ patient.adresse }}</td>
                            <td>
                                <div class="d-inline-flex gap-1">
                                    <a href="{{ path ('modifier_patient', {'slug': patient.slug }) }}" class="btn btn-outline-success btn-sm"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Modifier{% endtrans %} : {{ patient.nom }}">
                                        <i class="ri-edit-box-line"></i>
                                    </a>
                                    <a href="{{ path ('details_patient', {'slug': patient.slug }) }}" class="btn btn-outline-info btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Afficher les détails de{% endtrans %} : {{ patient.nom }}">
                                    <i class="ri-eye-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Table ends -->
    </div>
</div>