
<table id="basicExample" class="table m-0 table_striped table-hover align-middle">
    <thead>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Billet{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> Date
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Etat{% endtrans %}
            </th>

            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-star"></i> {% trans %}N°{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-user"></i> {% trans %}Patient{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-money"></i> {% trans %}Billet{% endtrans %}
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> Date
            </th>
            <th class="wd-15p border-bottom-0">
                <i class="fa fa-calendar"></i> {% trans %}Etat{% endtrans %}
            </th>
            <th class="wd-25p border-bottom-0">
                <i class="fa fa-config"></i> Options
            </th>
            
        </tr>
    </tfoot>
    <tbody>
        {% set i = 1 %}
        {% for session in sessions %}
            <tr>
                <td class="infoTable">
                    <span class="badge bg-primary rounded-pill">{{ i }}</span>
                </td>
                <td class="infoTable">
                    {{ session.patient.nom }} <br>
                    Par : {{ session.caissiere ? session.caissiere.nom : " " }}
                </td>

                <td class="infoTable">
                    {{ session.produit.libelle }}
                </td>

                <td class="infoTable">
                    {{ session.dateBilletDeSessionAt | date('d') }} 
                    {{ session.dateBilletDeSessionAt | date('m')|mois_en_lettres }} 
                    {{ session.dateBilletDeSessionAt | date('Y') }} {{ session.heureAt | date('H:i:') }}
                </td>
                
                <td class="infoTable">
                    {% if session.etat == 1 %}
                        <span class="badge bg-success mt-2">{% trans %}Reçue{% endtrans %}</span>
                        {% else %}
                        <span class="badge bg-danger mt-2">{% trans %}Pas encore reçue{% endtrans %}</span>
                    {% endif %}
                </td>
                <td class="infoTable">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Opérations{% endtrans %} <i class="fa fa-angle-down"></i></a>
						<div class="dropdown-menu border-primary">
                            
                            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-line me-2"></i> {% trans %}Détails{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer la session{% endtrans %}</a>
                            <a class="dropdown-item" href="javascript:void(0);" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer l'historique{% endtrans %}</a>
                            {% if session.etat == 0 %}
                                <a class="dropdown-item" href="{{ path ('ajouter_parametres_vitaux', {'slugBilletDeSession': session.slug })}}" >
                                    <i class="ri-thermometer-line"></i>
                                    {% trans %}Reçevoir{% endtrans %}
                                </a>
                            {% endif %}
                        
                            
                            
                            {% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
                                <a class="dropdown-item" href="javascript:void(0);"
                                    onclick="swal({
                                        'title': 'Attention', 
                                        'type': 'warning', 
                                        'text': 'Voulez-vous vraiment supprimer cette facture ?', 
                                        'showCancelButton': true, 
                                        'confirmButtonText': 'Oui', 
                                        'confirmButtonColor': '#f00', 
                                        'cancelButtonText': 'Non', 
                                        'cancelButtonColor': '#38cb89', 
                                        'confirmButtonPath': '# '});">
                                
                                <i class="ri-close-circle-line me-2"></i> Annuler la session</a>
                            {% endif %}
                           
                            
                        </div>
                    </div>

                </td>
                
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    </tbody>
</table>