{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des commandes{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}
<!-- Row starts -->
		<div class="row gx-3">
			
			<div class="col-sm-12  mb-5">
				<div class="card">
					<div class="card-header d-flex align-items-center justify-content-between">
						
						<h5 class="card-title">
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span class="badge bg-white text-dark">{{ commandes|length|number_format }}</span>
								<span> {% trans %}Commandes(s) enregistrée(s){% endtrans %}</span>
							</button>
						</h5>
					
						
						{% if is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR')%}
							<a href="{{ path ('ajouter_commande') }}" class="btn btn-primary"><i class="ri-add-line me-2"></i>
								{% trans %}Ajouter une commande{% endtrans %}
							</a>
							<a href="{{ path ('imprimer_commande') }}" class="btn btn-outline-primary" target="_blank">
								<i class="ri-printer-line me-2"></i>
								{% trans %}Imprimer toutes les commandes{% endtrans %}
							</a>
						{% endif %}
							
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="basicExample" class="table m-0 table-hover align-middle">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Référence{% endtrans %}</th>
										<th>{% trans %}Fournisseur{% endtrans %}</th>
										<th>{% trans %}Date Entrée{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Référence{% endtrans %}</th>
										<th>{% trans %}Fournisseur{% endtrans %}</th>
										<th>{% trans %}Date Entrée{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for commande in commandes %}
										<tr>
											<td><span class="badge bg-primary rounded-pill">{{ i }}</span></td>
											<td>
												<a class="font-weight-normal1" href="">{{ commande.reference }}</a>
											</td>

											<td>
												<a class="font-weight-normal1" href="">{{ commande.fournisseur.fournisseur }}</a>
											</td>
											<td>
												<a class="font-weight-normal1" href="">{{ commande.dateEntreeAt ? commande.dateEntreeAt|date('d-m-Y H:i:s') : "" }}</a>
											</td>
											
											<td>
												<div class="btn-group">
													<a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Options{% endtrans %} <i class="fa fa-angle-down"></i></a>
													<div class="dropdown-menu border-primary">
														{# <a class="dropdown-item" href="{{ path ('livre_commande', {'slug': commande.slug })}}"><i class="fe fe-check-circle me-2"></i> {% trans %}Livrer{% endtrans %}</a> #}
														
														<a class="dropdown-item" href="{{ path ('imprimer_commande', {'slug': commande.slug })}}" target="_blank"><i class="ri-printer-line me-2"></i> {% trans %}Imprimer{% endtrans %}</a>

														<a class="dropdown-item" href="{{ path ('details_commande', {'slug': commande.slug })}}"><i class="ri-eye-line me-2"></i> {% trans %}Détails{% endtrans %}</a>

														{% if is_granted('ROLE_DIRECTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
															<a class="dropdown-item" href="{{ path ('modifier_commande', {'slug': commande.slug })}}"><i class="ri-edit-box-line"></i> {% trans %}Modifier{% endtrans %}</a>

															<a class="dropdown-item" href="javascript:void(0);" 
															onclick="swal({
																'title': 'Attention', 
																'type': 'warning', 
																'text': 'Voulez-vous vraiment supprimer cette commande ?', 
																'showCancelButton': true, 
																'confirmButtonText': 'Oui', 
																'confirmButtonColor': '#f00', 
																'cancelButtonText': 'Non', 
																'cancelButtonColor': '#38cb89', 
																'confirmButtonPath': '{{ path ('supprimer_commande', {'slug': commande.slug })}} '});">
                                                    
															
															<i class="ri-delete-bin-line"></i> {% trans %}Supprimer{% endtrans %}</a>
														{% endif %}
														
													</div>
												</div>
												
												
												

											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End app-content-->
{% endblock %}

{% block javascripts %}
    <script>
		function confirmation(){
            
			swal({
				title: "{% trans %}Avertissement !{% endtrans %}",
				text: "{% trans %}Voulez-vous vraiment supprimer cette catégorie ?{% endtrans %}",
				type: "warning",
				showCancelButton: true,
				confirmButtonText: '{% trans %}Oui{% endtrans %}',
				cancelButtonText: '{% trans %}Non{% endtrans %}'
			});
			
		};
        
    </script>
{% endblock %}