{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bulletin de paie de {% endtrans %} {{ personnel.nom }}{% endblock %}

{% block body %}
  <!-- Row start -->
	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<!-- Row start -->
					<div class="row">
						<div class="col-xxl-8 col-sm-8 col-12">
						<h5><b>
							<img src="{{ asset ('assets/images/logoLucelle.png') }}" alt="Bootstrap Admin Dashboard" height="100" width="100" class="img-fluid">
							{% trans %}CENTRE DE SANTE PRIVE LUCELLE{% endtrans %}
							</b>
						</h5> 
						</div>
						<div class="col-sm-4 col-12">
						<div class="text-end">
							<p class="mb-2">
							{% trans %}Référence{% endtrans %} N° - <span class="text-danger">{{ bulletinDeSalaire.reference }}</span>
							</p>
							<p class="mb-2"><span id="currentMonth"></span>{{ bulletinDeSalaire.mois|mois_en_lettres }}-{{ bulletinDeSalaire.annee }}</p>
							{% if bulletinDeSalaire.paye == 1 %}
							<span class="badge bg-success">{% trans %}Payé{% endtrans %}</span>
							{% else %}
							<span class="badge bg-danger">{% trans %}Pas Payé{% endtrans %}</span>
							{% endif %}
						</div>
						</div>
						<div class="col-12 mb-5"></div>
					</div>
					<!-- Row end -->

					<!-- Row start -->
					<div class="row justify-content-between">
						<div class="col-lg-6 col-12">
							<h6 class="fw-semibold">{% trans %}Employé{% endtrans %}</h6>
							<p class="m-0">
								{{ bulletinDeSalaire.personnel.typeUtilisateur.typeUtilisateur }}
								{{ bulletinDeSalaire.personnel.nom }}<br>
								{{ bulletinDeSalaire.personnel.adresse }}<br>
								{{ bulletinDeSalaire.personnel.contact }}<br>
								{{ bulletinDeSalaire.personnel.email }}<br>
							</p>
						</div>
						<div class="col-lg-6 col-12">
							<div class="text-end">
								<h6 class="fw-semibold">{% trans %}CENTRE DE SANTE PRIVE LUCELLE{% endtrans %}</h6>
								<p class="text-end m-0">
								{% trans %}Nkolo-Nkoabong{% endtrans %}<br>
								+237 670 57 03 40<br>
								+237 683 80 62 67<br>
								+237 687 36 53 15<br>
								</p>
							</div>
						</div>
						<div class="col-12 mb-3"></div>
					</div>
					<!-- Row end -->

					<!-- Row start -->
					<div class="row">
						<div class="col-12">
							<div class="table-outer mb-2">
								<div class="table-responsive">
									<table class="table m-0">
										<thead>
											<tr>
												<th>{% trans %}Eléments de paie{% endtrans %}</th>
												<th>{% trans %}Base{% endtrans %}</th>
												<th>{% trans %}Taux (%){% endtrans %}</th>
												<th>{% trans %}A payer (FCFA){% endtrans %}</th>
												<th>{% trans %}A déduire (FCFA){% endtrans %}</th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td>
												<p>
												{% trans %}SALAIRE BRUTE{% endtrans %}
												</p>
											</td>
											<td>{{ bulletinDeSalaire.personnel.salaireBrute|number_format }}</td>
											<td>
												<h6>100 %</h6>
											</td>
											<td>
												<h6>{{ bulletinDeSalaire.personnel.salaireBrute|number_format }}</h6>
											</td>
											<td>
												<h6></h6>
											</td>
										</tr>
										{% for gain in bulletinDeSalaire.gains %}
											<tr>
												<td>
													<p>
													{{ gain.gain.gain }}
													</p>
												</td>
												<td></td>
												<td>
													<h6>{{ gain.gain.pourcentage }} %</h6>
												</td>
												<td>
													<h6>{{ ((bulletinDeSalaire.personnel.salaireBrute * gain.gain.pourcentage) /100)|number_format }}</h6>
												</td>
												<td>
													<h6></h6>
												</td>
											</tr>
										{% endfor %}
										<tr>
											<td>
												<h5>
												<b>
													{% trans %}Total éléments de gains{% endtrans %}
												</b>
												</h5>
											</td>
											<td></td>
											<td>
												<h6></h6>
											</td>
											<td>
												<h5>
													<b>{{ (bulletinDeSalaire.totalGains + bulletinDeSalaire.personnel.salaireBrute)|number_format }}</b>
												</h5>
											</td>
											<td>
												<h6></h6>
											</td>
										</tr>

											{# FIN ELEMENTS DE GAINS #}

										{% for retenue in bulletinDeSalaire.retenues %}
											<tr>
												<td>
													<p>
													{{ retenue.retenue.retenue }}
													</p>
												</td>
												<td></td>
												<td>
													<h6>{{ retenue.retenue.pourcentage }} %</h6>
												</td>
												<td>
													<h6></h6>
												</td>
												<td>
													<h6>{{ ((bulletinDeSalaire.personnel.salaireBrute * retenue.retenue.pourcentage) /100)|number_format }}</h6>
												</td>
											</tr>
										{% endfor %}
										<tr>
											<td>
												<h5>
												<b>
													{% trans %}Total éléments de retenues{% endtrans %}
												</b>
												</h5>
											</td>
											<td></td>
											<td>
												<h6></h6>
											</td>
											<td>
												
											</td>
											<td>
												<h5>
													<b>{{ bulletinDeSalaire.totalRetenues|number_format }}</b>
												</h5>
											</td>
										</tr>

										{# ELEMENTS DE PRIME  #}
										{% if bulletinDeSalaire.personnel.primeSpeciales|length > 0 %}
											{% for primeSpeciale in bulletinDeSalaire.personnel.primeSpeciales %}
												<tr>
													<td>
														<p>
														{{ primeSpeciale.libelle }}
														</p>
													</td>
													<td>{{ primeSpeciale.montant|number_format }}</td>
													<td>
														<h6>100 %</h6>
													</td>
													<td>
														<h6>{{ primeSpeciale.montant|number_format }}</h6>
													</td>
													<td>
														<h6></h6>
													</td>
												</tr>
											{% endfor %}
											<tr>
												<td>
													<h5>
													<b>
														{% trans %}Total éléments de primes spéciales{% endtrans %}
													</b>
													</h5>
												</td>
												<td></td>
												<td>
													<h6></h6>
												</td>
												<td>
													<h5>
														<b>{{ bulletinDeSalaire.totalPrimeSpeciale|number_format }}</b>
													</h5>
												</td>
												<td>
													<h6></h6>
												</td>
											</tr>
										{% endif %}
											
										<tr>
											<td>
												<h5>
												<b>
													{% trans %}Net à payer avant impôt sur le revenu{% endtrans %}
												</b>
												</h5>
											</td>
											<td></td>
											<td>
												<h6></h6>
											</td>
											<td>
												<h5>
													<b>{{ ((bulletinDeSalaire.totalGains + bulletinDeSalaire.personnel.salaireBrute + bulletinDeSalaire.totalPrimeSpeciale) - (bulletinDeSalaire.totalRetenues))|number_format }}</b>
												</h5>
											</td>
											<td>
												<h6></h6>
											</td>
										</tr>

										{# impôt sur le revenu #}
										<tr>
											<td>
												<h5>
													{% trans %}Impôt sur le revenu{% endtrans %}
												</h5>
											</td>
											<td>
												<h5>
													<b>{{ ((bulletinDeSalaire.totalGains + bulletinDeSalaire.personnel.salaireBrute + bulletinDeSalaire.totalPrimeSpeciale) - (bulletinDeSalaire.totalRetenues))|number_format }}</b>
												</h5>
											</td>
											<td>
												<h5>5%</h5>
											</td>
											<td>
												<h5></h5>
											</td>
											<td>
												<h5>
													<b>{{ bulletinDeSalaire.montantIrpp|number_format }}</b>
												</h5>
											</td>
										</tr>
										<tr>
											<td colspan="3">&nbsp;</td>
											<td>
												<h3 class="text-primary">{% trans %}Net à payer{% endtrans %}</h3>
											</td>
											<td>
												<h3 class="text-primary">{{ (bulletinDeSalaire.netApayer - bulletinDeSalaire.montantIrpp)|number_format}} FCFA</h5>
											</td>
										</tr>
										<tr>
											<td colspan="6">
											<h6 class="text-info">
												<i class="ri-sticky-note-line me-2"></i>
												{% trans %}Note Importante :{% endtrans %}
											</h6>
											<p class="small m-0">
												{% trans %}Dans votre intérêt, et pour vous aider à faire valoir vos droits, conservez ce bulletin de paie sans limitation de durée.  {% endtrans %}
											</p>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->

					<!-- Row start -->
					<div class="row">
						<div class="col-sm-12 col-12">
							<div class="d-flex justify-content-end gap-2">
								<button class="btn btn-outline-secondary">
									<i class="ri-chat-download-line me-2"></i>
									{% trans %}Télécharger{% endtrans %}
								</button>
								<button class="btn btn-primary">
									<i class="ri-printer-line me-2"></i>
									{% trans %}Imprimer{% endtrans %}
								</button>
							</div>
						</div>
					</div>
					<!-- Row end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Row end -->
</div>
{% endblock %}
