{% extends 'base.html.twig' %}

{% block title %}{% trans %}Les approbations{% endtrans %}{% endblock %}

{% block body %}


            <!-- Row start -->
            <div class="row gx-3">
                <div class="col-sm-12">
                    <!-- Card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{% trans %}Personnels approuvés{% endtrans %}</h5>
                           
                            <div class="d-flex flex-wrap gap-2 justify-content-end">
                                <a href="{{ path ('generer_bulletin_salaire_de_paie', {'toutLePersonnel': 1}) }}" class="btn btn-outline-primary ms-auto">{% trans %}Générer tous les bulletins de soldes{% endtrans %}</a>
                            </div>
                        </div>
                        <div class="card-body">

                            <!-- Table start -->
                            <div class="table-responsive">
                            <table id="customButtons" class="table m-0 align-middle">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>{% trans %}Nom complet{% endtrans %}</th>
                                        <th>{% trans %}poste{% endtrans %}</th>
                                        <th>{% trans %}Département{% endtrans %}</th>
                                        <th>{% trans %}Salaire{% endtrans %}</th>
                                        <th>{% trans %}Statut{% endtrans %}</th>
                                        <th>{% trans %}Bulletin de solde{% endtrans %}</th>
                                    </tr>
                                </thead>
                                 <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans %}Nom complet{% endtrans %}</th>
                                        <th>{% trans %}poste{% endtrans %}</th>
                                        <th>{% trans %}Département{% endtrans %}</th>
                                        <th>{% trans %}Salaire{% endtrans %}</th>
                                        <th>{% trans %}Statut{% endtrans %}</th>
                                        <th>{% trans %}Bulletin de solde{% endtrans %}</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% set i = 1 %}
                                    {% for personnel in personnels %}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td><img src="{{ asset ('assets/images/user3.png')}}" class="img-shadow img-2x rounded-5 me-1"
                                                alt="Doctors Admin Template">{{ personnel.nom }}</td>
                                            <td>{{ personnel.typeUtilisateur.typeUtilisateur }}</td>
                                            <td>{{ personnel.specialite.specialite }}</td>
                                            <td>{{ personnel.salaireBrute }}</td>
                                            <td>
                                                {% if personnel.statutPersonnel.statutPersonnel == "EN POSTE" %}
                                                    <span class="badge bg-success">{% trans %}En poste{% endtrans %}</span></td>
                                                    {% else %}
                                                        {% if personnel.statutPersonnel.statutPersonnel == "PLUS EN POSTE" %}
                                                            <span class="badge bg-danger">{% trans %}Plus en poste{% endtrans %}</span></td>
                                                            {% else %}
                                                            <span class="badge bg-warning">{% trans %}En cours{% endtrans %}</span></td>
                                                        {% endif %}
                                                {% endif %}
                                                
                                            <td>
                                                {% if personnel.statutPersonnel.statutPersonnel != "PLUS EN POSTE" %}
                                                    <a href="{{ path ('generer_bulletin_salaire_de_paie', {'toutLePersonnel': 0, 'slug': personnel.slug }) }}" class="btn btn-primary btn-sm">{% trans %}Générer le bulletin de paie{% endtrans %}</a>
                                                    {% else %}
                                                    <a href="javascript:void(0);" class="btn btn-danger btn-sm" disabled="">{% trans %}Pas de bulletin de paie{% endtrans %}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% set  i = i + 1 %}
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                            </div>
                            <!-- Table end -->

                        </div>
                    </div>
                    <!-- Card end -->

                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- App body ends -->

    </div>
    <!-- App container ends -->
{% endblock %}
