{% extends 'base.html.twig' %}

{% block title %}{% trans %}Salaires{% endtrans %}{% endblock %}

{% block body %}


          

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">{% trans %}Salaires du mois de {% endtrans %} {{ "now"|date("M") }}-{{ "now"|date("Y") }}</h5>
                    <div class="row justify-content-end">
                      <div class="col-sm-2">
                        <select name="Month" id="SMonth" class="form-select">
                          <option value="0">{% trans %}Avril{% endtrans %}</option>
                          <option value="1">{% trans %}Janvier{% endtrans %}</option>
                          <option value="2">{% trans %}Février{% endtrans %}</option>
                          <option value="3">{% trans %}Mars{% endtrans %}</option>
                          <option value="4">{% trans %}Avril{% endtrans %}</option>
                          <option value="5">{% trans %}Mai{% endtrans %}</option>
                          <option value="6">{% trans %}Juin{% endtrans %}</option>
                          <option value="7">{% trans %}Jullet{% endtrans %}</option>
                          <option value="8">{% trans %}Aout{% endtrans %}</option>
                          <option value="9">{% trans %}Septembre{% endtrans %}</option>
                          <option value="10">{% trans %}Octobre{% endtrans %}</option>
                          <option value="11">{% trans %}Novembre{% endtrans %}</option>
                          <option value="12">{% trans %}Décembre{% endtrans %}</option>
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <select name="annee" id="annee" class="form-select">
                          <option value="0">2025</option>
                          <option value="1">2024</option>
                          <option value="2">2023</option>
                          <option value="3">2022</option>
                          <option value="4">2021</option>
                          <option value="5">2020</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                      <table id="basicExample" class="table m-0 align-middle">
                        <thead>
                          <tr>
                            <th>{% trans %}Référence{% endtrans %}</th>
                            <th>{% trans %}Employé{% endtrans %}</th>
                            <th>{% trans %}Département{% endtrans %}</th>
                            <th>{% trans %}Mois - Année{% endtrans %}</th>
                            <th>{% trans %}Salaire{% endtrans %}</th>
                            <th>{% trans %}Etat{% endtrans %}</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for bulletinDeSalaire in bulletinDeSalaires %}
                            <tr>
                                <td>{{ bulletinDeSalaire.reference }}</td>
                                <td><img src="{{ asset ('assets/images/user.png') }}" class="img-shadow img-2x rounded-5 me-1"
                                    alt="Doctors Admin Template">
                                    {{ bulletinDeSalaire.personnel.nom }}</td>
                                <td>{{ bulletinDeSalaire.personnel.specialite.specialite }}</td>
                                <td>{{ bulletinDeSalaire.mois|mois_en_lettres }}-{{ bulletinDeSalaire.annee }}</td>
                                <td>{{ bulletinDeSalaire.netApayer|number_format }}</td>
                                <td style="text-align: center !important; vertical-align: middle;" class="text-center">
                                   {% if is_granted('ROLE_ADMINISTRATEUR') %} 
                                    <div class="form-group">
                                        <label class="custom-switch">
                                            <div class="form-check form-switch form-check-reverse">
                                            <input type="checkbox" class="custom-switch-input" data-id="{{ bulletinDeSalaire.id }}" {% if bulletinDeSalaire.paye == 1 %}checked{% endif %} >
                                            </div>
                                            <span class="custom-switch-indicator custom-switch-indicator-lg"></span>
                                        </label>
                                    </div>
                                  {% endif %}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{ path ('afficher_bulletin_de_paie', {'slug': bulletinDeSalaire.personnel.slug }) }}" class="btn btn-primary btn-sm" target="_blank">{% trans %}Bulletin de paie{% endtrans %}</a>
                                </td>
                            </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                    <!-- Table ends -->

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

        </div>
        <!-- App container ends -->
        <script src="{{ asset ('js/activerDesactiverBulletinDePaie.js')}}"></script>
{% endblock %}
