{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un ambulance{% endtrans %}
        {% else %}
        {% trans %}Modification d'un ambulance{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}
<!-- App-Content -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        {% trans %}Ajout d'une ambulance{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification de la ambulance: {% endtrans %} {{ ambulance.ambulance }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('liste_ambulance', {'a': 1 }) }}" class="btn btn-primary">
                                    {% trans %}Afficher les ambulances{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        {{ form_start(formAmbulance, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}

                            <div class="row" id="ambulanceForm" style="margin-top: 15px !important;">
                                
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Nom du ambulance{% endtrans %}</label>
                                    {{ form_widget(formAmbulance.ambulance, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le nom du ambulance !{% endtrans %}
                                    </div>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Immatriculation{% endtrans %}</label>
                                    {{ form_widget(formAmbulance.immatriculation, {'attr': {'id':'validationCustom02'}}) }}

                                    {{form_errors(formAmbulance.immatriculation)}}
                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir l'immatriculation{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Marques{% endtrans %}</label>
                                    <select class="form-select border" id="idMarque" required>
                                        <option selected disabled value="">{% trans %}--Choisir la marque--{% endtrans %}</option>
                                        {% for marque in marques %}
                                            <option value="{{ marque.id }}">{{ marque.marque }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner la marque{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Modèles{% endtrans %}</label>
                                    <select class="form-select border" name="idModele" id="idModele" required data-path="{{path('recherche_modele')}}">
                                        <option selected disabled value="">{% trans %}--Choisir le modèle--{% endtrans %}</option>

                                    </select>
                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner le modèle{% endtrans %}
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="ambulanceForm" style="margin-top: 15px !important;">
                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Etat{% endtrans %}</label>
                                    {{ form_widget(formAmbulance.etatAmbulance, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez sélectionner l'état !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative">
                                    <label for="validationCustom01" class="form-label">{% trans %}Année{% endtrans %}</label>
                                    {{ form_widget(formAmbulance.anneeAt, {'attr': {'id':'validationCustom02'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir l'année !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative text-center">
                                    <label for="validationCustom01" class="form-label">{% trans %}Photo du ambulance{% endtrans %}</label>
                                    {{ form_widget(formAmbulance.photoFile, {'attr': {'id':'validationCustom01'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez choisir la photo du ambulance !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-3 position-relative text-center mt-4">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                
                            </div>

                            {# FIN PARTIE EXAMEN #}
                        {{ form_end(formAmbulance)}}

                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset ('js/selectionModeleMarque.js')}}"></script>
{% endblock %}