{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter un type chambre{% endtrans %}
        {% else %}
        {% trans %}Modification d'un type chambre{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}

        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        <i class="fa fa-eercast me-2"></i>
                                        {% trans %}Ajout type chambre{% endtrans %}
                                        {% else %}
                                        <i class="fa fa-eercast  me-2"></i>
                                        {% trans %}Modification de : {% endtrans %} {{  typeChambre.typeChambre }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('liste_type_chambre', {'a': 1 }) }}" class="btn btn-primary"><i class="fe fe-list me-2"></i>
                                    {% trans %}Afficher les types chambres{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(formTypeChambre, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                            <div class="row" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Type chambre{% endtrans %}</label>
                                    {{ form_widget(formTypeChambre.typeChambre, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir un type chambre !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Prix{% endtrans %}</label>
                                    {{ form_widget(formTypeChambre.prix, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir le prix!{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                
                            </div>
                        {{ form_end(formTypeChambre)}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/choixTypeTypeChambre.js')}}"></script>
<script src="{{asset('js/ajoutTypeChambre.js')}}"></script>
    
{% endblock %}
