<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Bienvenue{% endblock %}</title>

		<!-- Meta -->
		<meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta name="author" content="Hospitov">
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Hospitov">
		<meta property="og:description" content="Hospitov">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Hospitov">
		<link rel="shortcut icon" href="{{ asset('assets/images/logoLucelle.png')}}">

		<!-- *************
				************ CSS Files *************
			************* -->
		<link rel="stylesheet" href="{{ asset ('assets/fonts/remix/remixicon.css') }}">
		<link rel="stylesheet" href="{{ asset ('assets/css/main.min.css') }}">
		<link rel="stylesheet" href="{{ asset ('assets/css/main.css') }}">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="login-bg">

		{% if motDePasse == 1 %}
			{% if motDePasse == 1 %}
				{% include "includes/_entete.html.twig" %}
				{% include "includes/_menu.html.twig" %}
			{% endif %}
		{% endif %}

        {% block body %}{% endblock %}

		{% if motDePasse == 1 %}
			{% include "includes/_footer.html.twig" %}
		{% endif %}

		<!-- Show Password -->
		<script src="{{ asset ('assets/js/bootstrap-show-password.min.js') }}"></script>

    </body>
</html>
