{% extends 'base.html.twig' %}

{% block title %}
   {% trans %}Liste des marques{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}



{% block body %}

		<div class="row gx-3">
              
			<div class="col-sm-12  mb-5">
				<div class="card">
					<div class="card-header d-flex align-items-center justify-content-between">
						
						<h5 class="card-title">
							<button type="button" class="btn btn-primary mt-1 mb-1 me-3">
								<span class="badge bg-white text-dark">{{ marques|length|number_format }}</span>
								<span> {% trans %}marque(s) enregistré(s){% endtrans %}</span>
							</button>
						</h5>
					
						<a href="{{ path ('ajouter_marque') }}" class="btn btn-primary ms-auto">
							{% trans %}Ajouter une marque{% endtrans %}
						</a>
							
					</div>
					<div class="card-body">

						<!-- Table starts -->
						<div class="table-responsive">
							<table id="basicExample" class="table m-0 table-hover align-middle">
								<thead>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Logo{% endtrans %}</th>
										<th>{% trans %}Marque{% endtrans %}</th>
										<th>{% trans %}Etat{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{% trans %}N°{% endtrans %}</th>
										<th>{% trans %}Logo{% endtrans %}</th>
										<th>{% trans %}Marque{% endtrans %}</th>
										<th>{% trans %}Etat{% endtrans %}</th>
										<th>{% trans %}Opérations{% endtrans %}</th>
									</tr>
								</tfoot>
								<tbody>
									{% set i = 1 %}
									{% for marque in marques %}
										<tr>
											<td><span class="tag tag-primary">{{ i }}</span></td>
											<td style="vertical-align: middle; text-align:center;">
												<div class="box-widget widget-user text-center">
													<div class="widget-user-image mx-auto">
														<a href="javascript:void(0);">
															<img alt="{{ marque.marque }}" class="img-shadow img-2x rounded-5 me-1" 
															src="{{ marque.photo ? asset('images/photoMarques/' ~ marque.photo) : asset('images/photoMarques/quiz-logo-voiture.jpg')}}" width="100" height="100">
														</a>
													</div>
												</div>
											</td>
											<td>
												<span class="tag tag-dark">{{ marque.marque }}</span>
											</td>

											<td>
												{% if marque.supprime == 0 %}
													<span class="badge border border-success text-success">{% trans %}Pas supprimée{% endtrans %}</span>
													{% else %}
													<span class="badge border border-danger text-danger">{% trans %}Supprimée{% endtrans %}</span>
												{% endif %}
											</td>
											
											<td>
												<a href="{{ path ('modifier_marque', {'slug': marque.slug })}}" 
													class="btn btn-outline-primary btn-sm rounded-5">
													<i class="ri-edit-box-line"></i> 
												</a>

												{% if marque.supprime == 0 %}
													
													<a class="btn btn-outline-danger btn-sm rounded-5" href="javascript:void(0);" 
														data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Supprimer{% endtrans %} : {{ marque.marque }}"
															onclick="swal({
															'title': 'Attention', 
															'type': 'warning', 
															'text': 'Voulez-vous vraiment supprimer cette marque ?', 
															'showCancelButton': true, 
															'confirmButtonText': 'Oui', 
															'confirmButtonColor': '#f00', 
															'cancelButtonText': 'Non', 
															'cancelButtonColor': '#38cb89', 
															'confirmButtonPath': '{{ path ('supprimer_marque', {'slug': marque.slug })}} '});">
								
														<i class="ri-delete-bin-line"></i>
													</a>
														
													{% else %}
													<a href="{{ path ('supprimer_marque', {'slug': marque.slug })}}" 
														class="btn btn-outline-success btn-sm rounded-5" 
														data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans %}Rétablir {% endtrans %} : {{ marque.marque }}">
														<i class="ri-arrow-go-back-line"></i>
													</a>
												{% endif %}

											</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
									
								</tbody>
							</table>
						</div>
						<!-- Table ends -->

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}