{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Ajouter une marque{% endtrans %}
        {% else %}
        {% trans %}Modification d'une marque{% endtrans %}
    {% endif %}    
{% endblock %}

{% block body %}

        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-info">
                                    {% if slug == 0 %}
                                        {% trans %}Ajout d'une marque{% endtrans %}
                                        {% else %}
                                        {% trans %}Modification de la marque: {% endtrans %} {{ marque.marque }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-6" style="text-align: right !important;">
                                <a href="{{ path ('afficher_marque', {'a': 1 }) }}" class="btn btn-primary">
                                    {% trans %}Afficher les marques{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                         {{ form_start(formMarque, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}})}}
                            <div class="row" style="margin-top: 15px !important;">
                                
                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Marque{% endtrans %}</label>
                                    {{ form_widget(formMarque.marque, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez saisir une marque !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="validationCustom04" class="form-label">{% trans %}Photo{% endtrans %}</label>
                                    {{ form_widget(formMarque.photoFile, {'attr': {'id':'validationCustom04'}}) }}

                                    <div class="invalid-feedback">
                                        {% trans %}Veuillez choisir une photo !{% endtrans %}
                                    </div>
                                </div>

                                <div class="col-md-4 position-relative text-center" style="margin-top: 30px !important;">
                                    <button type="submit" class="btn btn-outline-primary btn-md">
                                        <i class="fe fe-save"></i> 
                                        {% if slug == 0 %}
                                            {% trans %}Enregistrer{% endtrans %}
                                            {% else %}
                                            {% trans %}Enregistrer les modifications{% endtrans %}
                                        {% endif %}
                                    </button>
                                </div>
                                
                            </div>
                                
                        {{ form_end(formMarque)}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->
    </div>
</div>
{% endblock %}
